#wrap {width:100%; height:100%;}
.cahtbotWrap {height:100%; background:#f6f6ff;}

/* cahtbotBox */ 
.cahtbotBox {display:table; overflow:hidden; position:relative; width:100%; height:100%; table-layout:fixed;}

/* cahtbot_nav */ 
.cahtbot_nav {display:table-cell; width:80px; height:100%; vertical-align:top; background:rgba(0,126,255,1.0);}
.cahtbot_nav h3 {display:block; height:50px; padding:0 10px; color:#fff; font-size:17px; text-align:center; font-weight:bold; letter-spacing:-1px; line-height:50px; text-transform:uppercase;}
.cahtbot_nav ul {overflow:hidden; vertical-align:top;}
.cahtbot_nav ul li {display:block; margin:0 0 1px 0;}

.cahtbot_nav ul li button {display:block; position:relative; width:100%; height:90px; padding:0; color:#fff; font-size:14px; font-weight:500; text-align:center; line-height:0;  border:none; box-shadow:none; background:none; cursor:pointer; transition:all 0.3s ease-out;}
.cahtbot_nav ul li button:before {content:''; position:absolute; top:50%; left:50%; width:50px; height:50px; margin:-35px 0 0 -25px; border-radius:30px; background:#fff;}

.cahtbot_nav ul li button span {position:relative; top:25px; left:0; padding:50px 0 0 0;}
.cahtbot_nav ul li button.ico_sully span:after{content:''; position:absolute; top:5px; left:50%; width:40px; height:40px; margin:0 0 0 -20px; border-radius:40px; background:url(../images/ico_bot_sully.png) 50% 0 no-repeat; background-size:40px auto;}
.cahtbot_nav ul li button.ico_joey span:after{content:''; position:absolute; top:5px; left:50%; width:40px; height:40px; margin:0 0 0 -20px; border-radius:40px; background:url(../images/ico_bot_joey.png) 50% 0 no-repeat; background-size:40px auto;}
.cahtbot_nav ul li button.ico_mini span:after{content:''; position:absolute; top:5px; left:50%; width:40px; height:40px; margin:0 0 0 -20px; border-radius:40px; background:url(../images/ico_bot_mini.png) 50% 0 no-repeat; background-size:40px auto;}
.cahtbot_nav ul li button.ico_noah span:after{content:''; position:absolute; top:5px; left:50%; width:40px; height:40px; margin:0 0 0 -20px; border-radius:40px; background:url(../images/ico_bot_noah.png) 50% 0 no-repeat; background-size:40px auto;}
.cahtbot_nav ul li button.ico_ttubot span:after{content:''; position:absolute; top:5px; left:50%; width:40px; height:40px; margin:0 0 0 -20px; border-radius:40px; background:url(../images/ico_bot_ttubot.png) 50% 0 no-repeat; background-size:40px auto;}
.cahtbot_nav ul li button.ico_aitrago span:after{content:''; position:absolute; top:5px; left:50%; width:40px; height:40px; margin:0 0 0 -20px; border-radius:40px; background: url(../images/sample/aitrago_logo.png) 50% 5px no-repeat; background-size:35px auto;}

.cahtbot_nav ul li button:hover {background-color:#5880fe; transition:all 0.3s ease-out;}
.cahtbot_nav ul li button.active {background-color:#5880fe;}

.cahtbot_nav ul li button.disabled {color:#8bb0fe; opacity:1;}
.cahtbot_nav ul li button.disabled:before {opacity:0.4;}
.cahtbot_nav ul li button.ico_joey.disabled span:after {background:url(../images/ico_bot_joey_dsb.png) 50% 0 no-repeat; background-size:40px auto; opacity:0.5;}
.cahtbot_nav ul li button.disabled em {position:absolute; top:2px; left:3px; padding:10px 5px; color:#fff; font-size:9px; border-radius:20px; background:#2344aa; z-index:100; opacity:0.7;}
.cahtbot_nav ul li button.disabled em:after {content:''; position:absolute; bottom:-5px; left:50%; margin:0 0 0 -2px; border:0;  border-right-width:5px; border-bottom-width:5px; border-style:solid; border-color:transparent #2344aa; display:block; width:0;}

/* chatbot_contents */ 
#chatbot_contents {display:block; overflow:hidden; position:relative; width:100%; padding:0;}
.chatbot_contents {display:block; width:100%; height:600px; vertical-align:top; background:#f6f6ff;}

.chatbot_contents .chat_top {display:block; overflow:hidden; position:relative; height:50px; text-align:center; background:rgba(0,126,255,1.0);}
.chatbot_contents .chat_top h3 {font-family:'Roboto', sans-serif; color:#fff; font-size:17px; font-weight:bold; letter-spacing:-1px; line-height:50px;}
.chatbot_contents .chat_top button {overflow:hidden; position:absolute; top:10px; width:30px; height:30px; text-indent:-9999px; border:none; border-radius:0; opacity:1.0; cursor:pointer; transition:all 0.3s ease-out;}
.chatbot_contents .chat_top .btn_cb_close {right:15px; background:url(../images/btn_cb_close.png) 50% 50% no-repeat; opacity:0.6;}
.chatbot_contents .chat_top .btn_cb_guide {left:15px; background:url(../images/btn_cb_guide.png) 50% 50% no-repeat; opacity:0.6; }
.chatbot_contents .chat_top button:hover {opacity:1.0;}
.chatbot_contents .chat_top .btn_cb_guide.active {background:url(../images/btn_cb_back.png) 50% 50% no-repeat; background-size:70% auto; opacity:1.0;}

.chatbot_contents .chat_mid {display:block; overflow:auto; height:calc(100% -  95px); padding:15px;}

.bot_infoBox {display:block; text-align:center; padding:50px 0 0 0;}
.bot_infoBox .thumb {overflow:hidden; width:150px; margin:0 auto; border-radius:100px;}
.bot_infoBox .thumb img {width:100%;}
.bot_infoBox .txt {display:block; padding:10px 0; color:#616161; font-size:14px; line-height:22px; word-break:keep-all;}
.bot_infoBox .info_btnBox {display:block; overflow:hidden; max-width:300px; margin:0 auto 10px auto; padding:0; text-align:left; vertical-align:bottom; border-radius:10px; box-shadow:0 0 5px #bbc7e7; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.bot_infoBox .info_btnBox:hover {box-shadow:0 0 5px #92a1cb; transition:all 0.3s ease-out;}
.bot_infoBox .info_btnBox li {display:block; margin:0; padding:0; border-bottom:1px solid #f1f1f1;}
.bot_infoBox .info_btnBox li:last-child {border:none;}
.bot_infoBox .info_btnBox li button {display:block; width:100%; padding:10px 0; color:rgba(0,126,255,1.0); font-size:15px; text-align:center; text-decoration:none; line-height:22px; border:none; background:#fff;}
.bot_infoBox .info_btnBox li button:hover {text-decoration:underline;}
.bot_infoBox .info_btnBox li a {display:block; width:100%; padding:10px 0; color:rgba(0,126,255,1.0); font-size:15px; text-align:center; text-decoration:none; line-height:22px; border:none; background:#fff;}
.bot_infoBox .info_btnBox li a:hover {text-decoration:underline;}


.chatbot_contents .chat_mid .talkLst {display:block;  clear:both; overflow:auto; min-height:360px; margin:0; padding:0; background:#f6f6ff; margin:0;}
.chatbot_contents .chat_mid .talkLst li {clear:both; overflow:hidden; padding:5px 0;}

.chatbot_contents .chat_mid .talkLst li.longTime {display:block; clear:both; overflow:hidden; height:25px; margin:10px 0; padding:0; background:url(images/bg_longtime.png) 0 0 repeat-x;}  
.chatbot_contents .chat_mid .talkLst li.newDate {position:relative; margin:0 0 10px 0; text-align:center; background:url(../images/line_ccc.png) 0 center repeat-x;}
.chatbot_contents .chat_mid .talkLst li.newDate span {display:inline-block; padding:0 10px; color:#aaa; background:#f6f6ff;}
.chatbot_contents .chat_mid .talkLst li a {color:blue; text-decoration:underline;}

.chatbot_contents .chat_mid .talkLst li.bot {display:table; width:100%; text-align:left; vertical-align:top;}
.chatbot_contents .chat_mid .talkLst li.bot .thumb {display:table-cell; overflow:hidden; width:41px; height:50px; margin:3px 0 0 0; vertical-align:top;}
.chatbot_contents .chat_mid .talkLst li.bot .thumb img {overflow:hidden; width:100%; border-radius:50px; background:#f6f6ff;}
.chatbot_contents .chat_mid .talkLst li.bot .cont {display:block; max-width:310px; margin:0 0 10px 0;}
.chatbot_contents .chat_mid .talkLst li.bot .cont:last-child {margin:0;}
.chatbot_contents .chat_mid .talkLst li.bot .cont .name {display:block; padding:0 0 5px 10px; color:#999; font-size:12px; line-height:14px; font-style:normal;}
.chatbot_contents .chat_mid .talkLst li.bot .cont .txt {position:relative; display:inline-block; max-width:300px; margin:0 5px 5px 10px; padding:10px; color:#616161; font-size:14px; font-style:normal; text-align:left; word-break:normal; line-height:22px; border-radius:10px; box-shadow:0 0 5px rgba(0,0,0,0.1); background:#fff;}
.chatbot_contents .chat_mid .talkLst li.bot .cont .txt:after {content:''; position:absolute; top:0; left:-10px; border-top:0 solid transparent; border-right:20px solid #fff; border-bottom:20px solid transparent;}
.chatbot_contents .chat_mid .talkLst li.bot .date {display:block; margin:0 0 7px 0; padding:0 0 0 10px; color:#afafaf; font-size:11px; vertical-align:bottom;}
.chatbot_contents .chat_mid .talkLst li.bot .date b {display:inline-block; margin:0 5px 0 0; color:#afafaf; font-size:11px; font-weight:normal;}

.chatbot_contents .chat_mid .talkLst li.user {text-align:right; vertical-align:bottom; padding-right:15px;}
.chatbot_contents .chat_mid .talkLst li.user .cont {float:right; max-width:350px; margin:0 0 0 50px;}
.chatbot_contents .chat_mid .talkLst li.user .cont .txt {position:relative; display:inline-block; margin:0 0 2px 5px; padding:10px; color:#fff; font-size:14px; font-style:normal; text-align:left; word-break:normal; border-radius:10px; background:rgba(0,126,255,1.0); box-shadow:1px 1px 2px #ccc;}
.chatbot_contents .chat_mid .talkLst li.user .cont .txt:after {content:''; position:absolute; top:0; right:-10px; border-top:0 solid transparent; border-left:20px solid rgba(0,126,255,1.0); border-bottom:20px solid transparent;}
.chatbot_contents .chat_mid .talkLst li.user .date {display:block; margin:0 0 3px 0; padding:0; color:#afafaf; font-size:12px; text-align:right; vertical-align:bottom;}
.chatbot_contents .chat_mid .talkLst li.user .date b {display:inline-block; margin:0 5px 0 0; color:#afafaf; font-size:11px; font-weight:normal;}

.chatbot_contents .chat_mid .talkLst .botMsg_generic {display:block; overflow:visible; position:relative;max-width:300px; margin:0 5px 5px 10px; padding:0; text-align:left; vertical-align:bottom; border-radius:10px; box-shadow:0 0 5px #bbc7e7; background:#fff; transition:all 0.3s ease-out;}
.chatbot_contents .chat_mid .talkLst .botMsg_generic .thumb {position:absolute; top:0; left:-50px; overflow:hidden; width:41px; height:50px; margin:3px 0 0 0; vertical-align:top;}
.chatbot_contents .chat_mid .talkLst .botMsg_generic .thumb img {overflow:hidden; width:100%; border-radius:50px; background:#f6f6ff;}
.chatbot_contents .chat_mid .talkLst .botMsg_generic .generic_image {display:block; overflow:hidden; position:relative; width:100%; min-height:100px; max-height:200px; vertical-align:middle; border-radius:10px 10px 0 0;  background:#a9afbf url(../images/ico_ai.png) 50% 50% no-repeat;}
.chatbot_contents .chat_mid .talkLst .botMsg_generic .generic_image img {width:100%; border:none; box-shadow:none;}
.chatbot_contents .chat_mid .talkLst .botMsg_generic .generic_title {}
.chatbot_contents .chat_mid .talkLst .botMsg_generic .generic_url {display:block; padding:7px 12px;}
.chatbot_contents .chat_mid .talkLst .botMsg_generic .generic_url a {padding:0 12px 0 0; color:rgba(0,126,255,1.0); font-size:14px; line-height:18px; text-decoration:none; word-wrap:break-word; background:url(../images/ico_link_arrow.png) right 55% no-repeat;}
.chatbot_contents .chat_mid .talkLst .botMsg_generic .generic_url a:hover {text-decoration:underline;}
.chatbot_contents .chat_mid .talkLst .botMsg_generic .generic_description {display:block; padding:0 12px 10px 12px; color:#616161;  font-size:14px; line-height:18px; word-break:normal; }
.chatbot_contents .chat_mid .talkLst .botMsg_generic:hover {box-shadow:0 0 5px #92a1cb; transition:all 0.3s ease-out;}

.chatbot_contents .chat_mid .talkLst .botMsg_btnLst {display:block; max-width:300px; margin:0 20px 5px 10px; padding:0; text-align:left; vertical-align:bottom; border-radius:10px; box-shadow:0 0 5px #bbc7e7; background:#fff;cursor:pointer; transition:all 0.3s ease-out;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnLst .txt_s {display:block; padding:13px; color:#616161; font-size:14px; border-bottom:1px solid #dadada; word-break:normal; transition:all 0.3s ease-out;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnLst ul {display:block;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnLst ul li {display:block; margin:0; padding:0; border-bottom:1px solid #f1f1f1;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnLst ul li:last-child {border:none;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnLst ul li a {display:block; padding:10px 0; color:rgba(0,126,255,1.0);  font-size:13px; text-align:center; text-decoration:none; line-height:22px;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnLst ul li a:hover {text-decoration:underline;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnLst:hover {box-shadow:0 0 5px #92a1cb; transition:all 0.3s ease-out;}
	
.chatbot_contents .chat_mid .talkLst .botMsg_btnItem {display:block; overflow:hidden; max-width:350px; margin:0 20px 0 10px; padding:0; text-align:left; vertical-align:bottom; }
.chatbot_contents .chat_mid .talkLst .botMsg_btnItem .txt {display:block; padding:13px; color:#616161; font-size:12px; border-bottom:1px solid #dadada;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnItem ul {display:block;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnItem ul li {clear:none; overflow:visible; float:left; margin:0 5px 5px 0; padding:0;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnItem ul li:last-child {border:none;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnItem ul li a {display:block; margin:3px; padding:5px 15px; color:rgba(0,126,255,1.0); font-size:13px; text-align:center; text-decoration:none; line-height:22px; border-radius:20px; background:#fff; box-shadow:0 0 5px #bbc7e7; transition:all 0.3s ease-out;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnItem ul li a:hover {text-decoration:underline; box-shadow:0 0 5px #92a1cb; transition:all 0.3s ease-out;}

.chatbot_contents .chat_mid .talkLst .imgBox {display:block; overflow:hidden; max-width:300px; margin:0 20px 5px 10px; padding:0; text-align:left; vertical-align:bottom; border-radius:10px;}
.chatbot_contents .chat_mid .talkLst .imgBox img {max-width:280px;}

/* chatbot footer */
.chatbot_contents .chat_btm {display:block; position:relative; height:65px; vertical-align:top;}
.chatbot_contents .chat_btm .textArea {display:block; overflow:auto; width:calc(100% - 90px); height:45px; margin:0; padding:10px; color:#616161; font-size:14px; line-height:24px; border:none; border-radius:0;  resize:none;}
.chatbot_contents .chat_btm .btn_chat {overflow:hidden; position:absolute; top:0; right:0; width:70px; height:65px; margin:0; padding:0; color:#9c9c9c; font-size:14px; text-indent:-999px; border:none; border-radius:0; background:rgba(0,126,255,1.0) url(../images/ico_send.png) 50% 50% no-repeat; cursor:pointer; transition:all 0.2s ease-out;}
.chatbot_contents .chat_btm .btn_chat:hover {color:#fff; background:rgba(0,126,255,1.0) url(../images/ico_send.png) 55% 45% no-repeat; transition:all 0.2s ease-out;} 
.chatbot_contents .chat_btm .btn_chat.disabled {background:#a8a8a8 url(../images/ico_send.png) 50% 50% no-repeat; cursor:default;}
	
.chatLoading {margin:100px auto 0; width:70px; text-align:center;}
.chatLoading > b {width:10px; height:10px; background-color:rgba(0,126,255,1.0); border-radius:100%; display:inline-block; -webkit-animation:chat-bouncedelay 1.4s infinite ease-in-out both; animation:chat-bouncedelay 1.4s infinite ease-in-out both;}
.chatLoading .chatLoading_item01 {-webkit-animation-delay:-0.32s; animation-delay:-0.32s;}
.chatLoading .chatLoading_item02 {-webkit-animation-delay:-0.16s; animation-delay:-0.16s;}

.chatbot_contents .guideBox {display:none; position:absolute; top:50px; left:0; width:calc(100% - 1px); height:calc(100% - 50px); overflow-y:auto; text-align:center; background:#f6f6ff; z-index:1000;}
.chatbot_contents .guideBox img {width:100%; max-width:640px;}

@-webkit-keyframes chat-bouncedelay {
0%, 80%, 100% {
	-webkit-transform:scale(0);
}
40% {-webkit-transform:scale(1.0);}
}

@keyframes chat-bouncedelay {
0%, 80%, 100% {-webkit-transform:scale(0); transform:scale(0);} 
40% {-webkit-transform:scale(1.0); transform:scale(1.0);}
}



/* Mobile Grid  */
@media screen and (max-width:1200px) {
.chatbot_contents {width:100%; right:0; }

}

@media screen and (max-width:760px) {
.cahtbot_nav h3 { padding:0; font-size:13px;}
#cahtbotWrap {max-height:100%;}
.cahtbot_nav ul li button {font-size:12px; height:80px;}
.cahtbot_nav ul li button:before {width:40px; height:40px; margin:-28px 0 0 -20px; }
.cahtbot_nav {width:50px;}

.cahtbot_nav ul li button span {position:relative; top:20px; left:0; padding:40px 0 0 0;}
.cahtbot_nav ul li button.ico_sully span:after{content:''; position:absolute; top:5px; left:50%; width:40px; height:40px; margin:0 0 0 -20px; border-radius:40px; background:url(../images/ico_bot_sully.png) 50% 0 no-repeat; background-size:30px auto;}
.cahtbot_nav ul li button.ico_joey span:after{content:''; position:absolute; top:5px; left:50%; width:40px; height:40px; margin:0 0 0 -20px; border-radius:40px; background:url(../images/ico_bot_joey.png) 50% 0 no-repeat; background-size:30px auto;}
.cahtbot_nav ul li button.ico_mini span:after{content:''; position:absolute; top:5px; left:50%; width:40px; height:40px; margin:0 0 0 -20px; border-radius:40px; background:url(../images/ico_bot_mini.png) 50% 0 no-repeat; background-size:30px auto;}
.cahtbot_nav ul li button.ico_noah span:after{content:''; position:absolute; top:5px; left:50%; width:40px; height:40px; margin:0 0 0 -20px; border-radius:40px; background:url(../images/ico_bot_noah.png) 50% 0 no-repeat; background-size:30px auto;}
.cahtbot_nav ul li button.ico_ttubot span:after{content:''; position:absolute; top:5px; left:50%; width:40px; height:40px; margin:0 0 0 -20px; border-radius:40px; background:url(../images/ico_bot_ttubot.png) 50% 0 no-repeat; background-size:30px auto;}
.cahtbot_nav ul li button.ico_aitrago span:after{content:''; position:absolute; top:5px; left:50%; width:40px; height:40px; margin:0 0 0 -20px; border-radius:40px; background:url(../images/sample/aitrago_logo.png) 50% 0 no-repeat; background-size:30px auto;}

.cahtbot_nav ul li button.ico_joey.disabled span:after {background:url(../images/ico_bot_joey_dsb.png) 50% 0 no-repeat; background-size:30px auto; opacity:0.5;}
.cahtbot_nav ul li button.disabled em {position:absolute; top:2px; left:3px; padding:10px 5px; color:#fff; font-size:9px; border-radius:20px; background:#2344aa; z-index:100; opacity:0.7;}
.cahtbot_nav ul li button.disabled em:after {content:''; position:absolute; bottom:-5px; left:50%; margin:0 0 0 -2px; border:0;  border-right-width:5px; border-bottom-width:5px; border-style:solid; border-color:transparent #2344aa; display:block; width:0;}

.bot_infoBox .thumb {width:40%;}

.bot_infoBox {padding:0;}
.bot_infoBox .txt {font-size:13px;}
.bot_infoBox .info_btnBox li button {padding:7px 0; font-size:13px;}

.chatbot_contents .chat_mid {height:calc(100% - 130px); padding:150x 10px;}

.chatbot_contents .chat_btm {height:50px;}
.chatbot_contents .chat_btm .textArea {width:calc (100% - 55px) !important; height:40px; padding:5px 55px 5px 5px;}
.chatbot_contents .chat_btm .btn_chat {width:50px; height:50px; background-size:50%;}
.chatbot_contents .chat_btm .btn_chat:hover {background-size:50%;}

.bot_infoBox .info_btnBox {max-width: 200px;}
.chatbot_contents .chat_mid .talkLst li {overflow:auto;}

.chatbot_contents .chat_mid .talkLst li.bot .cont {max-width: 220px;}
.chatbot_contents .chat_mid .talkLst li.bot .cont .txt {max-width: 100%;}
.chatbot_contents .chat_mid .talkLst .botMsg_generic {max-width:100%; margin-right:5px;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnLst {max-width:100%; margin-right:5px;}
.chatbot_contents .chat_mid .talkLst .botMsg_btnItem {max-width:100%; margin-right:5px;}
.chatbot_contents .chat_mid .talkLst .imgBox {max-width:100%; margin-right:0;}
.chatbot_contents .chat_mid .talkLst .imgBox img {max-width:100%;}
}
