@charset "utf-8";
/* MINDsLab. UX/UI Team. YMJ. 20180703 */ 

/* Loading */ 
.page_loading {position:fixed; top:0; left:0; width:100%; height:100%; background:#02112e; z-index:9999;}
.loading_itemBox {display:block; position:absolute; top:50%; left:50%; width:80px; height:80px; margin:-40px 0 0 -40px;}
.loading_itemBox span {position:absolute; top:33px; width:13px; height:13px; border-radius:50%; background:#007eff; animation-timing-function:cubic-bezier(0, 1, 1, 0);}
.loading_itemBox span:nth-child(1) {left:8px;  animation:loading_item1 0.6s infinite;}
.loading_itemBox span:nth-child(2) {left:8px;  animation:loading_item2 0.6s infinite;}
.loading_itemBox span:nth-child(3) {left:32px; animation:loading_item2 0.6s infinite;}
.loading_itemBox span:nth-child(4) {left:56px; animation:loading_item3 0.6s infinite;}

@keyframes loading_item1 {0% {transform:scale(0);}
100% {transform:scale(1);}
}
@keyframes loading_item3 {0% {transform:scale(1);}
100% {transform:scale(0);}
}
@keyframes loading_item2 {0% {transform:translate(0, 0);}
100% {transform:translate(24px, 0);}
}
.pageldg_hide {-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:pageldg_hide; animation-name:pageldg_hide;}

@-webkit-keyframes pageldg_hide {0% {opacity:1;}
100% {opacity:0;}
}

@keyframes pageldg_hide {0% {opacity:1;}
100% {opacity:0;}
}

/* === 공통 === */ 

.fl {float:left;}
.fc {float:left;padding-left: 60px;}
.fr {float:right;}

/* selectbox */
.selectbox {position:relative; z-index:1;} 
.selectbox:before {content:''; position:absolute; top:50%; right:0; width:0; height:0; margin-top:-3px; border-left:5px solid transparent; border-right:5px solid transparent; border-top:5px solid #999;} 
.selectbox label {position:absolute; top:0; left:0; padding:0; color:#fff; z-index:-1;} 
.selectbox select {width:100%; height:auto; line-height:normal; font-family:inherit; padding:0 10px 0 0; border:0; opacity:0; filter:alpha(opacity=0); -webkit-appearance:none; -moz-appearance:none; appearance:none;}

/* checkBox */
.checkBox {position:relative; z-index:1;}
.checkBox input[type="checkbox"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0} 
.checkBox input[type="checkbox"] + label {display:inline-block; overflow:hidden; position:relative; width:18px; height:18px; color:#767f89; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;} 
.checkBox input[type="checkbox"] + label:before {content:''; float:left; overflow:hidden; width:18px; height:18px; line-height:18px; margin:0 5px 0 0; text-align:center; vertical-align:middle; background:#fafafa; border:none; border-radius:2px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#e6ecf1; transition:all 0.3s ease-out;} 
.checkBox input[type="checkbox"]:checked + label:before {content:'\2714'; color:#fff; font-size:10px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0);  background:#007eff; transition:all 0.3s ease-out;}

/* pageing */
.pageing {clear:both; overflow:hidden; padding:30px 0; vertical-align:top; text-align:center; font-size:12px;}
.pageing a {display:inline-block; overflow:hidden; width:15px; height:20px; margin:0 3px; color:#999; font-size:13px; vertical-align:middle; border-radius:3px; text-decoration:none; transition:all 0.3s ease-out;}
.pageing a:hover {color:#333; transition:all 0.3s ease-out;}
.pageing a.first {width:20px; margin:0; border:1px solid rgba(0,0,0,0.1); text-indent:-99px; background:url(../images/ico_paging_first.png) 50% 50% no-repeat;}
.pageing a.first:hover,.pageing a.first:focus {color:#fff; border:1px solid rgba(0,0,0,0.3);}
.pageing a.prev {width:20px; border:1px solid rgba(0,0,0,0.1); text-indent:-99px; background:url(../images/ico_paging_prev.png) 50% 50% no-repeat;}
.pageing a.prev:hover,.pageing a.prev:focus {color:#fff; border:1px solid rgba(0,0,0,0.3);}
.pageing a.next {width:20px; border:1px solid rgba(0,0,0,0.1); text-indent:-99px; background:url(../images/ico_paging_next.png) 50% 50% no-repeat;}
.pageing a.next:hover,.pageing a.next:focus {color:#fff; border:1px solid rgba(0,0,0,0.3);}
.pageing a.end {width:20px; margin:0; border:1px solid rgba(0,0,0,0.1); text-indent:-99px; background:url(../images/ico_paging_end.png) 50% 50% no-repeat;}
.pageing a.end:hover,.pageing a.end:focus {color:#fff; border:1px solid rgba(0,0,0,0.3);}
.pageing strong {display:inline-block; width:20px; height:20px; color:rgba(0,126,255,1.0); font-size:13px; padding:0 2px; border:1px solid #fff;}
.pageing img {position:relative; #top:-1px; vertical-align:top;}

#wrap {min-width:1280px; height:100%;}

/* header */ 
#header {clear:both; position:fixed; width:calc(100% - 50px); min-height:42px; padding:15px 30px 15px 20px; background:#02112e; z-index:2000;}
#header h1 {float:left; min-height:30px; margin:0 0 0 50px;}
#header h1 a {display:block; height:40px;}
#header h1 a img {height:100%;}

#header .hamBox {position:absolute; top:20px; left:20px; width:25px; height:20px;}
#header .hamBox .btn_ham {display:block; overflow:hidden; position:relative; width:100%; height:100%; opacity:0.3; transition:all 0.3s ease-out;}
#header .hamBox .btn_ham:hover,#header .hamBox .btn_ham:focus {opacity:1.0; transition:all 0.3s ease-out;}
#header .hamBox .btn_ham span {position:absolute; top:50%; width:100%; height:3px; margin:-1px 0 0 0; text-indent:-999px; border-radius:5px; background:#fff; transition:all 0.3s ease-out;}
#header .hamBox .btn_ham:before {content:''; position:absolute; top:0; width:100%; height:3px; border-radius:5px; background:#fff; transition:all 0.3s ease-out;}
#header .hamBox .btn_ham:after {content:''; position:absolute; bottom:0; width:100%; height:3px; border-radius:5px; background:#fff; transition:all 0.3s ease-out;}
#header .hamBox .btn_ham:hover span, #header .hamBox .btn_ham:hover:before, #header .hamBox .btn_ham:hover:after {background:#007eff; transition:all 0.3s ease-out;}

#header .hamBox .btn_ham.active {opacity:1.0; transition:all 0.3s ease-out;}
#header .hamBox .btn_ham.active span {background:#007eff; transition:all 0.3s ease-out;}
#header .hamBox .btn_ham.active:before {background:#007eff; transition:all 0.3s ease-out;}
#header .hamBox .btn_ham.active:after {background:#007eff; transition:all 0.3s ease-out;}

#header .etcmenu {position:absolute; right:30px;}
#header .etcmenu .groupBox {float:left; margin:0 20px 0 0; border-right:1px solid rgba(255,255,255,0.1);}
#header .etcmenu .groupBox dl {float:left; margin:0 20px 0 0; padding:10px 20px; border-radius:5px; background:rgba(255,255,255,0.1); transition:all 0.3s ease-out;}
#header .etcmenu .groupBox dl:last-child:hover {background:rgba(255,255,255,0.3); transition:all 0.3s ease-out;}
#header .etcmenu .groupBox dl dt {float:left; margin:0 15px 0 0;}
#header .etcmenu .groupBox dl dt.ico_team {overflow:hidden; width:20px; height:20px; text-indent:-999px; background:url(../images/ico_team_w.png) 50% 50% no-repeat; background-size:20px; opacity:0.3;}
#header .etcmenu .groupBox dl dt.ico_wspace {overflow:hidden; width:20px; height:20px; text-indent:-999px; background:url(../images/ico_workspace_w.png) 50% 50% no-repeat; background-size:15px; opacity:0.3;}
#header .etcmenu .groupBox dl dd {float:left; color:#fff;}

#header .etcmenu .userBox {float:left;}

#header .etcmenu .userBox {float:left;}
#header .etcmenu .userBox dl {float:left; padding:10px 20px; border-radius:5px; background:rgba(255,255,255,0.1); transition:all 0.3s ease-out;}
#header .etcmenu .userBox dl:hover {background:rgba(255,255,255,0.3); transition:all 0.3s ease-out;}
#header .etcmenu .userBox dl dt {float:left; margin:0 15px 0 0;}
#header .etcmenu .userBox dl dt.ico_user {overflow:hidden; width:20px; height:20px; text-indent:-999px; background:url(../images/ico_user_w.png) 50% 50% no-repeat; background-size:20px; opacity:0.3;}
#header .etcmenu .userBox dl dd {float:left; position:relative; color:#fff;} 
#header .etcmenu .userBox dl dd > a {padding:0 25px 0 0; color:#fff;}
#header .etcmenu .userBox dl dd a:after {content:''; position:absolute; top:4px; right:0; width:13px; height:13px; background:url(../images/arrow_down_w.png) right 50% no-repeat; opacity:0.3;}
#header .etcmenu .userBox dl ul.lst {display:none;}
#header .etcmenu .userBox dl ul.lst li a {display:block; position:relative; padding:7px 10px 7px 30px; color:#fff; transition:all 0.3s ease-out;}
#header .etcmenu .userBox dl ul.lst li a:hover, #header .etcmenu .userBox dl ul.lst li a:focus {background-color:rgba(29,33,44,0.4); transition:all 0.3s ease-out;}
#header .etcmenu .userBox dl ul.lst li a:before {content:''; position:absolute; top:50%; left:10px; width:14px; height:14px; margin:-7px 0 0 0; opacity:0.5;}
#header .etcmenu .userBox dl ul.lst li.ico_profile a:before {background:url(../images/ico_profile_w.png) 50% 50% no-repeat; background-size:cover;}
#header .etcmenu .userBox dl ul.lst li.ico_logout a:before {background:url(../images/ico_logout_w.png) 50% 50% no-repeat; background-size:cover;}

#header .etcmenu .userBox dl.active {background:rgba(0,126,255,1.0); transition:all 0.3s ease-out;}
#header .etcmenu .userBox dl.active dd {margin:0 0 10px 0;}
#header .etcmenu .userBox dl.active ul.lst {display:block; clear:both; overflow:hidden; margin:7px 0 0 0; border-radius:3px; background:rgba(255,255,255,0.2);}
#header .etcmenu .userBox dl.active ul.lst li {display:block; border-bottom:1px solid rgba(0,126,255,1.0);}
#header .etcmenu .userBox dl.active ul.lst li:last-child {border:none;}
#header .etcmenu .userBox dl.active ul.lst li a {}

/* container */ 
#container {display:table; position:relative; width:100%; height:calc(100% - 102px); padding:72px 0 0 0; background:#f3f6f8;}

/* Side navigation Bar */ 
.snb {display:table-cell; width:230px; background:#23334d; transition:all 0.3s ease-out;}  
.snb .ico_pjt_name {display:block; height:41px; padding:12px 20px; line-height:40px; text-align:center; vertical-align:middle; border-bottom:1px solid rgba(0,0,0,0.2); background:#122a46;  transition:all 0.3s ease-out;}
.snb .ico_pjt_name img {height:100%; max-height:35px; vertical-align:middle;}
.snb ul.nav {display:block;}
.snb ul.nav li {display:block; position:relative;}
.snb ul.nav li a {display:block; position:relative; padding:7px 20px; color:#ccc; font-size:15px; transition:all 0.3s ease-out;}
.snb ul.nav li a:hover {color:rgba(0,126,255,1.0); transition:all 0.3s ease-out;}

.snb ul.nav li a i {display:inline-block; width:20px; height:20px; margin:0 10px 0 0; vertical-align:middle; opacity:0.2; background-size:cover !important;}
.snb ul.nav li a i.ico_ass {background:url(../images/ico_snb_assess_w.png) 50% 50% no-repeat;}
.snb ul.nav li a i.ico_db {background:url(../images/ico_snb_db_w.png) 50% 50% no-repeat;}
.snb ul.nav li a i.ico_tts {background:url(../images/ico_snb_tts_w.png) 50% 50% no-repeat;}
.snb ul.nav li a i.ico_monitoring {background:url(../images/ico_snb_monitoring_w.png) 50% 50% no-repeat;}
.snb ul.nav li a i.ico_qna {background:url(../images/ico_snb_qna_w.png) 50% 50% no-repeat;}
.snb ul.nav li a i.ico_puzzle {background:url(../images/ico_snb_puzzle_w.png) 50% 50% no-repeat;}
.snb ul.nav li a i.ico_setting {background:url(../images/ico_snb_setting_w.png) 50% 50% no-repeat;}
.snb ul.nav li a i.ico_dictionary {background:url(../images/ico_snb_dictionary_w.png) 50% 50% no-repeat;}

.snb ul.nav > li {border-bottom:1px solid rgba(0,0,0,0.2);}
.snb ul.nav > li > a {padding:12px 20px; line-height:22px;}

.snb ul.nav li a span {display:inline-block; vertical-align:middle;}

.snb ul.nav li .sub_nav {overflow:hidden; height:0; padding:0 10px; background:#122a46; transition:all 0.3s ease-out;}
.snb ul.nav li .sub_nav li {}
.snb ul.nav li .sub_nav li > a {position:relative; padding:10px 0 10px 25px; font-size:13px;}
.snb ul.nav li .sub_nav li:last-child a {margin:0;}
.snb ul.nav li .sub_nav li > a:before {content:'';  position:absolute; top:50%; left:10px; width:7px; height:7px; margin:-4px 0 0 0; background:url(../images/arrow_snbSub_w.png) 50% 50% no-repeat; opacity:0.3;}
.snb ul.nav li .sub_nav li.active > a {color:#fff; background:rgba(0,126,255,1.0);}
.snb ul.nav li .sub_nav li.active > a:before {opacity:0.7;}

.snb ul.nav li .sub_nav li .third_nav {display:none; height:0; transition:all 0.3s ease-out;}
.snb ul.nav li .sub_nav li .third_nav li {}
.snb ul.nav li .sub_nav li .third_nav li a {position:relative; margin:0; padding:7px 0 7px 25px; font-size:13px;}
.snb ul.nav li .sub_nav li .third_nav li a:before {content:'-'; position:absolute; top:10px; left:15px; font-size:15px; background:none;}

.snb ul.nav li.active {color:rgba(0,126,255,1.0); background:#23334d;}
.snb ul.nav li.active > a {color:rgba(0,126,255,1.0);}
.snb ul.nav li.active > a:before {content:''; position:absolute; top:0; left:0; width:5px; height:100%; background:rgba(0,126,255,1.0);}
.snb ul.nav li.active > .sub_nav {display:block; height:auto; padding:10px; transition:all 0.3s ease-out;} 
.snb ul.nav li.active .sub_nav li.active .third_nav {display:block; height:auto; padding:5px 0; transition:all 0.3s ease-out;}
.snb ul.nav li .sub_nav li.active .third_nav li.active a {color:rgba(0,126,255,1.0); background:none !important;}

.snb.transition {width:40px;}
.snb.transition .ico_pjt_name {display:table-cell; padding:12px 5px;}
.snb.transition .ico_pjt_name img {width:100%; height:auto;}
.snb.transition ul.nav > li > a > span {display:none;} 
.snb.transition ul.nav li.active {background:rgba(0,126,255,1.0);}
.snb.transition ul.nav li.active a i {opacity:1.0;} 
.snb.transition ul.nav li .sub_nav {display:none; position:absolute; top:0; left:70px; width:200px; z-index:1000;}
.snb.transition ul.nav li.active:hover .sub_nav {display:block;}

/* contents */ 
.contents {display:table-cell; vertical-align:top;}

/* titArea */
.titArea {display:block; clear:both; min-height:45px; padding:20px 30px 0 50px; border-bottom:1px solid rgba(0,0,0,0.1); background:#fff;}
.titArea h3 {float:left; color:#000; font-size:22px; font-weight:600; line-height:40px;}
.titArea .path {float:left; margin:15px 0 0 30px;}
.titArea .path span {float:left; margin:0 6px 0 0; padding:0 15px 0 0; color:#000; font-size:12px; font-weight:400; line-height:18px; background:url(../images/arrow_path_bk.png) right 50% no-repeat; opacity:0.5;}
.titArea .path span img {margin:-2px 0 0 0; vertical-align:middle; opacity:0.5;}
.titArea .path span:last-child {margin:0; padding:0; font-size:13px; background:none; opacity:0.8;} 

.titArea .tab_nav {float:right; margin:10px 0 0 0;}
.titArea .tab_nav li {float:left; margin:0 0 0 10px;}
.titArea .tab_nav li a {display:block; height:34px; margin:0; padding:0 15px; color:#666; font-size:13px; line-height:34px; border:1px solid rgba(0,0,0,0.1); border-radius:3px 3px 0 0; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.titArea .tab_nav li a:hover, .titArea .tab_nav li a:focus {color:rgba(0,126,255,1.0); transition:all 0.3s ease-out;}
.titArea .tab_nav li a.active {color:#fff; background:rgba(0,126,255,1.0); transition:all 0.3s ease-out;}

/* infoArea */
.infoArea {display:block; clear:both; min-height:30px; padding:15px 30px 15px 50px; border-bottom:1px solid rgba(0,0,0,0.1); background:#fff;}
.infoArea .dl_infoBox {display:block; clear:both; overflow:hidden; margin:0 0 10px 0;}
.infoArea .dl_infoBox:last-child {margin:0;}
.infoArea .dl_infoBox dl {float:left; width:33.3333%; color:#333; font-size:14px;}
.infoArea .dl_infoBox dl dt {display:inline-block; color:#888;}
.infoArea .dl_infoBox dl dd {display:inline-block; margin:0 0 0 3px; font-weight:bold;}

/* srchArea */
.srchArea {display:block; clear:both; min-height:30px; padding:15px 30px 15px 50px; border-bottom:1px solid rgba(0,0,0,0.1); background:#fff;}
.srchArea .dateBox {float:left; margin:0 15px 0 0;}
.srchArea .dateBox .hyphen {color:#999;}
.srchArea .dateBox .ipt_txt {display:inline-block; width:70px; height:30px; padding:0 30px 0 5px; line-height:30px; border:1px solid #fff; border-radius:3px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#e6ecf1 url(../images/ico_date_bk.png) right 7px top 50% no-repeat; transition:all 0.3s ease-out;}
.srchArea .dateBox .ipt_txt:focus {border:1px solid #007eff; box-shadow:inset 2px 2px 5px rgba(0,0,0,0); transition:all 0.3s ease-out;}

.srchArea .selectbox {float:left; margin:1px 15px 0 0; border:none; border:1px solid #fff; border-radius:3px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#e6ecf1; transition:all 0.3s ease-out;}
.srchArea .selectbox.active {border:1px solid rgba(0,126,255,1.0); box-shadow:none; transition:all 0.3s ease-out;}
.srchArea .selectbox:before {right:5px;}
.srchArea .selectbox select {min-width:100px; min-height:28px; color:#333; border:1px solid #000;}
.srchArea .selectbox label {padding:0 5px; height:30px; color:#333; line-height:30px;}
.srchArea .selectbox select:hover {border:1px solid #000;}

.srchArea .srchbox {float:left;}
.srchArea .srchbox .ipt_txt {float:left; min-width:200px; height:30px; padding:0 5px; line-height:30px; border:1px solid #fff; border-radius:3px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#e6ecf1; transition:all 0.3s ease-out;}
.srchArea .srchbox .ipt_txt:focus {border:1px solid #007eff; box-shadow:inset 2px 2px 5px rgba(0,0,0,0); transition:all 0.3s ease-out;}
.srchArea .srchbox .btn_srch {float:left; height:32px; margin:0; padding:0 15px 0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.srchArea .srchbox .btn_srch:hover {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.srchArea .srchbox .btn_srch img {display:inline-block; width:13px; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.srchArea .txtareaBox {display:block; clear:both; overflow:hidden; width:100%; }
.srchArea .txtareaBox .txtArea {float:left;; width:calc(100% - 123px); padding:5px 10px; font-size:13px; line-height:26px; vertical-align:top; border:1px solid #fff; border-radius:3px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#e6ecf1; transition:all 0.3s ease-out;}
.srchArea .txtareaBox .txtArea:focus {border:1px solid #007eff; box-shadow:inset 2px 2px 5px rgba(0,0,0,0); transition:all 0.3s ease-out;}
.srchArea .txtareaBox .btn_textArea {float:left; width:100px; height:81px; margin:0 0 0 1px; padding:0; color:#666; font-size:12px; text-align:center; line-height:30px; vertical-align:top; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.srchArea .txtareaBox .btn_textArea:hover, .srchArea .txtareaBox .btn_textArea:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}

.srchArea .btn_lst {float:left;}
.srchArea .btn_lst li {float:left; position:relative; margin:0 0 0 10px;}
.srchArea .btn_lst li:first-child {margin:0;}
.srchArea .btn_lst li button {display:block; height:32px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.srchArea .btn_lst li button:hover, .srchArea .btn_lst li button:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.srchArea .btn_lst li button img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.srchArea .btn_lst li button.btn_clr {display:block; height:32px; margin:0; padding:0 10px; color:rgba(255,255,255,1.0); font-size:12px; line-height:30px; border:1px solid rgba(0,126,255,1.0); border-radius:3px; background:rgba(0,126,255,1.0); cursor:pointer; transition:all 0.3s ease-out;}
.srchArea .btn_lst li button.btn_clr:hover, .srchArea .btn_lst li button.btn_clr:focus {color:rgba(255,255,255,1.0); border:1px solid rgba(0,126,255,1.0); transition:all 0.3s ease-out;}
.srchArea .btn_lst li button.btn_clr img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.srchArea .btn_lst li a {display:block; height:32px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.srchArea .btn_lst li a:hover, .srchArea .btn_lst li button:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.srchArea .btn_lst li a img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.srchArea .btn_lst li label.btn_file {display:block; height:30px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:28px; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.srchArea .btn_lst li label.btn_file:hover, .srchArea .btn_lst li label.btn_file:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.srchArea .btn_lst li label.btn_file img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}
.srchArea .btn_lst li .ipt_file {overflow:hidden; position:absolute; top:0; left:0; width:0; height:0; line-height:0;}

/* srchArea */
.srchArea .btnBox {float:right;}

/* content */ 
.content {display:block; padding:30px 30px 50px 50px;}

/* section */ 
.stn {display:table; overflow:hidden; position:relative; width:100%; margin:0 0 30px 0; border-radius:5px; box-shadow:2px 2px 10px rgba(0,0,0,0.1); background:#fff;}

.tbl_info_btnBox {display:block; clear:both; overflow:hidden; padding:10px 15px;}
.tbl_info_btnBox h3 {float:left; color:#333; font-size:17px; font-weight:bold; line-height:30px;}
.tbl_info_btnBox dl {display:inline-block; margin:0 0 0 15px; font-size:14px; font-weight:normal;}
.tbl_info_btnBox dl dt {display:inline-block; color:#666;}
.tbl_info_btnBox dl dd {display:inline-block; color:rgba(0,126,255,1.0);}
.tbl_info_btnBox .dateBox {float:left; margin:0 15px 0 0;}
.tbl_info_btnBox .dateBox .hyphen {color:#999;}
.tbl_info_btnBox .dateBox .ipt_txt {display:inline-block; width:70px; height:30px; padding:0 30px 0 5px; line-height:30px; border:1px solid #fff; border-radius:3px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#f1f1f1 url(../images/ico_date_bk.png) right 7px top 50% no-repeat; transition:all 0.3s ease-out;}
.tbl_info_btnBox .dateBox .ipt_txt:focus {border:1px solid #c8135c; box-shadow:inset 2px 2px 5px rgba(0,0,0,0); transition:all 0.3s ease-out;}

.tbl_info_btnBox .selectbox {float:left; margin:1px 15px 0 0; border:none; border:1px solid #fff; border-radius:3px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#f1f1f1; transition:all 0.3s ease-out;}
.tbl_info_btnBox .selectbox.active {border:1px solid rgba(0,126,255,1.0); box-shadow:none; transition:all 0.3s ease-out;}
.tbl_info_btnBox .selectbox:before {right:5px;}
.tbl_info_btnBox .selectbox select {min-width:100px; min-height:28px; color:#333; border:1px solid #000;}
.tbl_info_btnBox .selectbox label {padding:0 5px; height:30px; color:#333; line-height:30px;}
.tbl_info_btnBox .selectbox select:hover {border:1px solid #000;}

.tbl_info_btnBox .srchbox {float:left;}
.tbl_info_btnBox .srchbox.line_l {margin:0 0 0 15px; padding:0 0 0 15px; border-left:1px solid #e5e5e5;}
.tbl_info_btnBox .srchbox .ipt_txt {float:left; min-width:200px; height:30px; padding:0 5px; line-height:30px; border:1px solid #fff; border-radius:3px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#e6ecf1; transition:all 0.3s ease-out;}
.tbl_info_btnBox .srchbox .ipt_txt:focus {border:1px solid #c8135c; box-shadow:inset 2px 2px 5px rgba(0,0,0,0); transition:all 0.3s ease-out;}
.tbl_info_btnBox .srchbox .btn_srch {float:left; height:32px; margin:0; padding:0 15px 0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_info_btnBox .srchbox .btn_srch:hover {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.tbl_info_btnBox .srchbox .btn_srch img {display:inline-block; width:13px; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.tbl_info_btnBox .txtareaBox {display:block; clear:both; overflow:hidden; width:100%; }
.tbl_info_btnBox .txtareaBox .txtArea {float:left;; width:calc(100% - 123px); padding:5px 10px; font-size:13px; line-height:26px; vertical-align:top; border:1px solid #fff; border-radius:3px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#f1f1f1; transition:all 0.3s ease-out;}
.tbl_info_btnBox .txtareaBox .txtArea:focus {border:1px solid #c8135c; box-shadow:inset 2px 2px 5px rgba(0,0,0,0); transition:all 0.3s ease-out;}
.tbl_info_btnBox .txtareaBox .btn_textArea {float:left; width:100px; height:81px; margin:0 0 0 1px; padding:0; color:#666; font-size:12px; text-align:center; line-height:30px; vertical-align:top; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_info_btnBox .txtareaBox .btn_textArea:hover, .tbl_info_btnBox .txtareaBox .btn_textArea:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}

.tbl_info_btnBox .btn_lst {float:left;}
.tbl_info_btnBox .btn_lst li {float:left; position:relative; margin:0 0 0 10px;}
.tbl_info_btnBox .btn_lst li:first-child {margin:0;}
.tbl_info_btnBox .btn_lst li button {display:block; height:32px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_info_btnBox .btn_lst li button:hover, .tbl_info_btnBox .btn_lst li button:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.tbl_info_btnBox .btn_lst li button img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.tbl_info_btnBox .btn_lst li button.btn_clr {display:block; height:32px; margin:0; padding:0 10px; color:rgba(255,255,255,1.0); font-size:12px; line-height:30px; border:1px solid rgba(0,126,255,1.0); border-radius:3px; background:rgba(0,126,255,1.0); cursor:pointer; transition:all 0.3s ease-out;}
.tbl_info_btnBox .btn_lst li button.btn_clr:hover, .tbl_info_btnBox .btn_lst li button.btn_clr:focus {color:rgba(255,255,255,1.0); border:1px solid rgba(0,126,255,1.0); transition:all 0.3s ease-out;}
.tbl_info_btnBox .btn_lst li button.btn_clr img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.tbl_info_btnBox .btn_lst li a {display:block; height:32px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_info_btnBox .btn_lst li a:hover, .tbl_info_btnBox .btn_lst li button:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.tbl_info_btnBox .btn_lst li a img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.tbl_info_btnBox .btn_lst li label.btn_file {display:block; height:30px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:28px; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_info_btnBox .btn_lst li label.btn_file:hover, .tbl_info_btnBox .btn_lst li label.btn_file:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.tbl_info_btnBox .btn_lst li label.btn_file img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}
.tbl_info_btnBox .btn_lst li .ipt_file {overflow:hidden; position:absolute; top:0; left:0; width:0; height:0; line-height:0;}

/* table(List) */
.tbl_lst {width:100%; background:#fff;}
.tbl_lst thead th {min-height:32px; padding:12px 10px; color:#fff; font-size:13px; font-weight:300px; text-align:left; line-height:18px; border-bottom:1px solid rgba(0,0,0,0.2); background:#455674; word-break:normal;}
.tbl_lst thead th:first-child {padding:10px 10px 10px 15px;}
.tbl_lst tbody td {padding:5px 10px; color:#02112e; font-size:13px; font-weight:300px; text-align:left; line-height:17px; border-bottom:1px solid #eaeaea; word-break:normal;}
.tbl_lst tbody td:first-child {padding:10px 10px 10px 15px;}
.tbl_lst tbody td .txt {display:inline-block; max-width:300px;}
.tbl_lst tbody td a.link {color:rgba(0,126,255,1.0);}
.tbl_lst tbody td a.link:hover, .tbl_lst tbody td a.link:focus {text-decoration:underline;}
.tbl_lst button.btn {display:block; height:26px; padding:0 15px; color:rgba(0,126,255,1.0); text-align:center; line-height:24px; border:1px solid #dadada; border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_lst button.btn:hover {color:#fff; border:1px solid rgba(0,126,255,1.0); background:rgba(0,126,255,1.0); transition:all 0.3s ease-out;}

.tbl_lst .input_ck {border:none !important;}
.tbl_lst tbody td .dataNone {display:block; text-align:center;}
.tbl_lst tbody tr:hover td {background:#f2f6f9; transition:all 0.3s ease-out;}

.tbl_lst .btn_lst {display:block;}
.tbl_lst .btn_lst li {display:inline-block; margin:0 3px;}
.tbl_lst .btn_lst li button {display:block; height:32px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_lst .btn_lst li button:hover, .tbl_lst .btn_lst li button:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.tbl_lst .btn_lst li button img {display:inline-block; margin:-1px 5px 0 0; vertical-align:middle; opacity:0.2;}

.ol_lst {display:block; vertical-align:top;}
.ol_lst li {overflow:hidden; position:relative; max-width:400px; margin:0 0 5px 0; text-overflow:ellipsis; white-space:nowrap;}
.ol_lst li:last-child {margin:0;}
.ol_lst li:before {display:inline-block; padding:0 5px 0 0; color:#b5b5b5;}
.ol_lst li:nth-child(1):before {content:'1.';}
.ol_lst li:nth-child(2):before {content:'2.';}
.ol_lst li:nth-child(3):before {content:'3.';}
.ol_lst li:nth-child(4):before {content:'4.';}
.ol_lst li:nth-child(5):before {content:'5.';}
.ol_lst li:nth-child(6):before {content:'6.';}
.ol_lst li:nth-child(7):before {content:'7.';}
.ol_lst li:nth-child(8):before {content:'8.';}
.ol_lst li:nth-child(9):before {content:'9.';}
.ol_lst li:nth-child(10):before {content:'10.';}
.ol_lst li:nth-child(11):before {content:'11.';}
.ol_lst li:nth-child(12):before {content:'12.';}
.ol_lst li:nth-child(13):before {content:'13.';}
.ol_lst li:nth-child(14):before {content:'14.';}
.ol_lst li:nth-child(15):before {content:'15.';}
.ol_lst li:nth-child(16):before {content:'16.';}
.ol_lst li:nth-child(17):before {content:'17.';}
.ol_lst li:nth-child(18):before {content:'18.';}
.ol_lst li:nth-child(19):before {content:'19.';}
.ol_lst li:nth-child(20):before {content:'20.';}
.ol_lst li:nth-child(21):before {content:'21.';}
.ol_lst li:nth-child(22):before {content:'22.';}
.ol_lst li:nth-child(23):before {content:'23.';}
.ol_lst li:nth-child(24):before {content:'24.';}
.ol_lst li:nth-child(25):before {content:'25.';}
.ol_lst li:nth-child(26):before {content:'26.';}
.ol_lst li:nth-child(27):before {content:'27.';}
.ol_lst li:nth-child(28):before {content:'28.';}
.ol_lst li:nth-child(29):before {content:'29.';}
.ol_lst li:nth-child(30):before {content:'30.';}
.ol_lst li:nth-child(31):before {content:'31.';}
.ol_lst li:nth-child(32):before {content:'32.';}
.ol_lst li:nth-child(33):before {content:'33.';}
.ol_lst li:nth-child(34):before {content:'34.';}
.ol_lst li:nth-child(35):before {content:'35.';}
.ol_lst li:nth-child(36):before {content:'36.';}
.ol_lst li:nth-child(37):before {content:'37.';}
.ol_lst li:nth-child(38):before {content:'38.';}
.ol_lst li:nth-child(39):before {content:'39.';}
.ol_lst li:nth-child(40):before {content:'40.';}
.ol_lst li:nth-child(41):before {content:'41.';}
.ol_lst li:nth-child(42):before {content:'42.';}
.ol_lst li:nth-child(43):before {content:'43.';}
.ol_lst li:nth-child(44):before {content:'44.';}
.ol_lst li:nth-child(45):before {content:'45.';}
.ol_lst li:nth-child(46):before {content:'46.';}
.ol_lst li:nth-child(47):before {content:'47.';}
.ol_lst li:nth-child(48):before {content:'48.';}
.ol_lst li:nth-child(49):before {content:'49.';}
.ol_lst li:nth-child(50):before {content:'50.';}
.ol_lst li:nth-child(51):before {content:'51.';}
.ol_lst li:nth-child(52):before {content:'52.';}
.ol_lst li:nth-child(53):before {content:'53.';}
.ol_lst li:nth-child(54):before {content:'54.';}
.ol_lst li:nth-child(55):before {content:'55.';}
.ol_lst li:nth-child(56):before {content:'56.';}
.ol_lst li:nth-child(57):before {content:'57.';}
.ol_lst li:nth-child(58):before {content:'58.';}
.ol_lst li:nth-child(59):before {content:'59.';}
.ol_lst li:nth-child(60):before {content:'60.';}
.ol_lst li:nth-child(61):before {content:'61.';}
.ol_lst li:nth-child(62):before {content:'62.';}
.ol_lst li:nth-child(63):before {content:'63.';}
.ol_lst li:nth-child(64):before {content:'64.';}
.ol_lst li:nth-child(65):before {content:'65.';}
.ol_lst li:nth-child(66):before {content:'66.';}
.ol_lst li:nth-child(67):before {content:'67.';}
.ol_lst li:nth-child(68):before {content:'68.';}
.ol_lst li:nth-child(69):before {content:'69.';}
.ol_lst li:nth-child(70):before {content:'70.';}
.ol_lst li:nth-child(71):before {content:'71.';}
.ol_lst li:nth-child(72):before {content:'72.';}
.ol_lst li:nth-child(73):before {content:'73.';}
.ol_lst li:nth-child(74):before {content:'74.';}
.ol_lst li:nth-child(75):before {content:'75.';}
.ol_lst li:nth-child(76):before {content:'76.';}
.ol_lst li:nth-child(77):before {content:'77.';}
.ol_lst li:nth-child(78):before {content:'78.';}
.ol_lst li:nth-child(79):before {content:'79.';}
.ol_lst li:nth-child(80):before {content:'80.';}
.ol_lst li:nth-child(81):before {content:'81.';}
.ol_lst li:nth-child(82):before {content:'82.';}
.ol_lst li:nth-child(83):before {content:'83.';}
.ol_lst li:nth-child(84):before {content:'84.';}
.ol_lst li:nth-child(85):before {content:'85.';}
.ol_lst li:nth-child(86):before {content:'86.';}
.ol_lst li:nth-child(87):before {content:'87.';}
.ol_lst li:nth-child(88):before {content:'88.';}
.ol_lst li:nth-child(89):before {content:'89.';}
.ol_lst li:nth-child(90):before {content:'90.';}
.ol_lst li:nth-child(91):before {content:'91.';}
.ol_lst li:nth-child(92):before {content:'92.';}
.ol_lst li:nth-child(93):before {content:'93.';}
.ol_lst li:nth-child(94):before {content:'94.';}
.ol_lst li:nth-child(95):before {content:'95.';}
.ol_lst li:nth-child(96):before {content:'96.';}
.ol_lst li:nth-child(97):before {content:'97.';}
.ol_lst li:nth-child(98):before {content:'98.';}
.ol_lst li:nth-child(99):before {content:'99.';}
.ol_lst li:nth-child(100):before {content:'100.';}

/* table(View) */
.tbl_view {width:100%; background:#fff; table-layout:fixed;}
.tbl_view thead th {min-height:32px; padding:12px 10px; color:#fff; font-size:13px; font-weight:300px; text-align:left; line-height:18px; border-top:1px solid #fff; border-bottom:1px solid #fff; background:#455674; word-break:normal;}
.tbl_view thead th:first-child {padding:7px 10px 7px 15px;}
.tbl_view tbody th {padding:7px 10px 7px 15px; color:#fff; font-size:13px; font-weight:300px; text-align:left; line-height:18px; vertical-align:top; border-bottom:1px solid rgba(0,0,0,0.2); background:#455674; word-break:normal;}
.tbl_view tbody td {padding:7px 10px 7px 15px; color:#02112e; font-size:13px; font-weight:300px; text-align:left; line-height:17px; vertical-align:top; border-bottom:1px solid #eaeaea; word-break:normal;}
.tbl_view tbody tr:last-child th {border:none;}
.tbl_view tbody tr:last-child td {border:none;}
.tbl_view tbody td a.link {color:rgba(0,126,255,1.0);}
.tbl_view tbody td a.link:hover, .tbl_view tbody td a.link:focus {text-decoration:underline;}
.tbl_view tbody td .ipt_txt {display:block; width:calc(100% - 25px); height:30px; padding:0 10px; line-height:30px; color:#333; border:1px solid #ccc; border-radius:3px; background:#fff; transition:all 0.3s ease-out;}
.tbl_view tbody td .ipt_txt:focus {border:1px solid rgba(0,126,255,1.0); background:#fff; transition:all 0.3s ease-out;}
.tbl_view .tbl_select {display:block; position:relative; min-width:130px; height:32px; padding:0 35px 0 10px; color:#333; text-align:left; line-height:32px; border:1px solid #dadada; box-shadow:inset 2px 2px 0px #dadada; border-radius:30px; background:#f5f5f5 url(../images/btn_select.png) 99px 1px no-repeat; background-size:28px; transition:all 0.3s ease-out; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
.tbl_view .tbl_select::-ms-expand {display:none;}
.tbl_view .tbl_select:focus {border:1px solid rgba(0,126,255,1.0); transition:all 0.3s ease-out;}
.tbl_view tbody td .dataNone {display:block; text-align:center;}

.tbl_info_txt {display:block; padding:0 0 10px 0;}
.tbl_info_txt dl {display:block; font-size:14px;}
.tbl_info_txt dl dt {display:inline-block; color:#666;}
.tbl_info_txt dl dd {display:inline-block; color:rgba(0,126,255,1.0);}

.btmArea {clear:both; overflow:hidden; display:block;}
.btmArea .btn_lst {}
.btmArea .btn_lst li {float:left; margin:0 0 0 10px;}
.btmArea .btn_lst li:first-child {margin:0;}
.btmArea .btn_lst li a {display:block; height:32px; margin:0; padding:0 15px; color:#666; font-size:12px; line-height:30px; border:1px solid #dadada; border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.btmArea .btn_lst li a:hover, .btmArea .btn_lst li a:focus {color:#333; border:1px solid rgba(0,0,0,0.5); transition:all 0.3s ease-out;}
.btmArea .btn_lst li a img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.tbl_top_btnBox {clear:both; overflow:hidden; padding:0 0 7px 0;}
.tbl_top_btnBox ul {}
.tbl_top_btnBox ul.fl {margin:0;}
.tbl_top_btnBox ul.fl li {float:left; margin:0 5px 0 0;}
.tbl_top_btnBox ul.fr {margin:0;}
.tbl_top_btnBox ul.fr li {float:left; margin:0 0 0 5px;}
.tbl_top_btnBox ul li button {display:block; height:34px; margin:0; padding:0 15px; color:#666; font-size:12px; line-height:32px; border:1px solid #dadada; border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_top_btnBox ul li button:hover, .tbl_top_btnBox ul li button:focus {color:#333; border:1px solid rgba(0,0,0,0.5); transition:all 0.3s ease-out;}
.tbl_top_btnBox ul li button img {display:inline-block; margin:-1px 5px 0 0; vertical-align:middle; opacity:0.2;}

.tbl_top_btnBox ul li a {display:block; height:32px; margin:0; padding:0 15px; color:#666; font-size:12px; line-height:32px; border:1px solid #dadada; border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_top_btnBox ul li a:hover, .tbl_top_btnBox ul li a:focus {color:#333; border:1px solid rgba(0,0,0,0.5); transition:all 0.3s ease-out;}
.tbl_top_btnBox ul li a img {display:inline-block; margin:-1px 5px 0 0; vertical-align:middle; opacity:0.2;}

.tbl_top_btnBox label.btn_file {display:block; height:32px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:32px; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_top_btnBox label.btn_file:hover, .srchArea label.btn_file:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.tbl_top_btnBox label.btn_file img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}
.tbl_top_btnBox .ipt_file {overflow:hidden; position:absolute; top:0; left:0; width:0; height:0; line-height:0;}

.tbl_btm_btnBox {position:absolute; width:100%; margin:25px 0 0 0;}
.tbl_btm_btnBox ul {}
.tbl_btm_btnBox ul.fl {margin:0 0 0 15px;}
.tbl_btm_btnBox ul.fl li {float:left; margin:0 5px 0 0;}
.tbl_btm_btnBox ul.fr {margin:0 15px 0 0;}
.tbl_btm_btnBox ul.fr li {float:left; margin:0 0 0 5px;}
.tbl_btm_btnBox ul li button {display:block; height:34px; margin:0; padding:0 15px; color:#666; font-size:12px; line-height:32px; border:1px solid #dadada; border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_btm_btnBox ul li button:hover, .tbl_btm_btnBox ul li button:focus {color:#333; border:1px solid rgba(0,0,0,0.5); transition:all 0.3s ease-out;}
.tbl_btm_btnBox ul li button img {display:inline-block; margin:-1px 5px 0 0; vertical-align:middle; opacity:0.2;}

.tbl_btm_btnBox ul li a {display:block; height:32px; margin:0; padding:0 15px; color:#666; font-size:12px; line-height:30px; border:1px solid #dadada; border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_btm_btnBox ul li a:hover, .tbl_btm_btnBox ul li a:focus {color:#333; border:1px solid rgba(0,0,0,0.5); transition:all 0.3s ease-out;}
.tbl_btm_btnBox ul li a img {display:inline-block; margin:-1px 5px 0 0; vertical-align:middle; opacity:0.2;}

.tbl_btnBox {clear:both; display:block; min-height:34px; margin:0 0 7px 0;}
.tbl_btnBox ul {}
.tbl_btnBox ul.fl li {float:left; margin:0 10px 0 0;}
.tbl_btnBox ul.fr li {float:left; margin:0 0 0 10px;}

.tbl_btnBox ul li a {display:block; height:32px; margin:0; padding:0 15px; color:#666; font-size:12px; line-height:32px; border:1px solid #dadada; border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_btnBox ul li a:hover, .tbl_btnBox ul li a:focus {color:#333; border:1px solid rgba(0,0,0,0.5); transition:all 0.3s ease-out;}
.tbl_btnBox ul li a img {display:inline-block; margin:-1px 5px 0 0; vertical-align:middle; opacity:0.2;}

button.disabled {color:#ccc !important; border:1px solid #e7e7e7 !important; cursor:default;}
button.disabled img {opacity:0.1 !important;}

.stepBox {display:table; width:100%;}
.stepBox .step_item {display:table-cell; padding:30px; border-right:1px solid #f3f6f8;}
.stepBox .step_item:last-child {border:none;}

.stepBox .step_item .dlType01 {display:block;}
.stepBox .step_item .dlType01 dt {display:block; margin:0 0 15px 0; padding:0 0 10px 0; color:#999; font-size:14px; font-weight:400; border-bottom:1px solid #cdcdcd;}
.stepBox .step_item .dlType01 dt span {margin:0 0 0 5px; color:#333; font-size:22px; font-weight:200;}
.stepBox .step_item .dlType01 dd {display:block;}
.stepBox .step_item .dlType01 dd a.link {color:rgba(0,126,255,1.0);}
.stepBox .step_item .dlType01 dd a.link:hover, .stepBox .step_item .dlType01 dd a.link:focus {text-decoration:underline;}
.stepBox .step_item .dlType01 dd .txtareaBox {position:relative;}
.stepBox .step_item .dlType01 dd .txtareaBox .textArea {width:calc(100% - 22px); min-height:100px; max-height:200px; padding:10px; color:#333; font-size:13px; line-height:18px; border:1px solid #fff; border-radius:3px; box-shadow:inset 2px 2px 5px #dadada; background:#f3f6f8; transition:all 0.3s ease-out;}
.stepBox .step_item .dlType01 dd .txtareaBox .textArea:focus {border:1px solid rgba(0,126,255,1.0); box-shadow:none; transition:all 0.3s ease-out;}
.stepBox .step_item .dlType01 dd .txtareaBox .txt_count {position:absolute; right:5px; bottom:5px; padding:3px 10px; color:#fff; font-size:10px; border-radius:30px; background:rgba(0,0,0,0.3);}
.stepBox .step_item .dlType01 dd .txtBox {width:calc(100% - 22px); min-height:100px; max-height:200px; padding:10px; color:#333; font-size:13px; line-height:18px; border:1px solid #fff; border-radius:3px; box-shadow:inset 2px 2px 5px #dadada; background:#f3f6f8; word-break:break-word; transition:all 0.3s ease-out;}

.stepBox .step_item .selectbox {border-radius:3px; box-shadow:inset 2px 2px 5px #dadada; background:#f3f6f8;} 
.stepBox .step_item .selectbox:before {right:10px;} 
.stepBox .step_item .selectbox label {padding:0 0 0 15px; color:#333; font-size:15px; font-weight:400; line-height:40px;} 
.stepBox .step_item .selectbox select {padding:10px;;}

.stepBox .step_item .btnBox {display:block; clear:both; overflow:hidden; margin:15px 0 0 0; padding:10px 0 0 0; border-top:1px solid #cdcdcd;}
.stepBox .step_item .btnBox ul {float:right;}
.stepBox .step_item .btnBox ul li {float:left; margin:0 0 0 10px;}
.stepBox .step_item .btnBox ul li:first-child {margin:0;}
.stepBox .step_item .btnBox ul li button {display:block; height:32px; margin:0; padding:0 15px; color:#666; font-size:12px; line-height:30px; border:1px solid #dadada; border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.stepBox .step_item .btnBox ul li button:hover, .stepBox .step_item .btnBox ul li button:focus {color:#333; border:1px solid rgba(0,0,0,0.5); transition:all 0.3s ease-out;}
.stepBox .step_item .btnBox ul li button img {display:inline-block; margin:-1px 5px 0 0; vertical-align:middle; opacity:0.2;}
.stepBox .step_item .btnBox ul li button.disabled {color:#ccc; border:1px solid #e7e7e7; cursor:default;}
.stepBox .step_item .btnBox ul li button.disabled img {opacity:0.1;}

.stepBox .step_item .btnBox ul li a.btnType_w {display:block; height:32px; margin:0; padding:0 15px; color:#666; font-size:12px; line-height:30px; border:1px solid #dadada; border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.stepBox .step_item .btnBox ul li a.btnType_w:hover, .stepBox .step_item .btnBox ul li a.btnType_w:focus {color:#333; border:1px solid rgba(0,0,0,0.5); transition:all 0.3s ease-out;}
.stepBox .step_item .btnBox ul li a.btnType_w img {display:inline-block; margin:-1px 5px 0 0; vertical-align:middle; opacity:0.2;}
.stepBox .step_item .btnBox ul li a.btnType_w.disabled {color:#ccc; border:1px solid #e7e7e7; cursor:default;}
.stepBox .step_item .btnBox ul li a.btnType_w.disabled img {opacity:0.1;}

.stepBox .selectbox.active {border:1px solid rgba(0,126,255,1.0); box-shadow:none; transition:all 0.3s ease-out;}

.stepBox .step_item .resultArea {display:none; width:100%;}
.stepBox.lot03 .step_item {width:33.33333%;}

.dlType02 {display:block; margin:0 0 10px 0;}
.dlType02 dt {display:block; color:#333; font-size:14px; font-weight:500; line-height:26px; text-align:left;}
.dlType02 dt span.tit {float:left; margin:12px 0 0 0;}
.dlType02 dt .btn_lst {float:right; margin:5px 0;}
.dlType02 dt .btn_lst li {float:left; margin:0 0 0 5px;}
.dlType02 dt .btn_lst li:last-child {margin:0;}
.dlType02 dt .btn_lst li button {display:block; height:30px; margin:0; padding:0 15px; color:#fff; font-size:12px; line-height:28px; border:none; border-radius:3px; background:#8995aa; cursor:pointer; transition:all 0.3s ease-out;}
.dlType02 dt .btn_lst li button:hover, .dlType02 dt .btn_lst li button:focus {background:#6e7a8f; transition:all 0.3s ease-out;}
.dlType02 dd {display:block; clear:both; padding:0; text-align:left; border-radius:3px; background:#fff; transition:all 0.3s ease-out;}
.dlType02 dd:hover, .dlType02 dd:focus {box-shadow:2px 1px 5px rgba(0,0,0,0.1); transition:all 0.3s ease-out;}

.ans_lst {display:block;}
.ans_lst li {display:table; width:100%; padding:5px 0; border-bottom:1px solid #e8edf0;}
.ans_lst li:last-child {border:none;}
.ans_lst li span {display:table-cell; padding:0 3px; color:#333; line-height:30px; vertical-align:top;}

/* button */
button.btn_ico {display:block; width:30px; height:30px; margin:0; padding:0; color:#fff; font-size:12px; line-height:28px; border:none; border-radius:3px; vertical-align:middle; border:1px solid #ccd3df; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
button.btn_ico img {height:16px; vertical-align:middle; opacity:0.3; transition:all 0.3s ease-out;}
button.btn_ico:hover, button.btn_ico:focus {color:#333; border:1px solid #b7c0ce; transition:all 0.3s ease-out;}
button.btn_ico:hover img, button.btn_ico:focus img {opacity:0.5; transition:all 0.3s ease-out;}

/* treeview */
.treeWrap {display:table; width:100%;}
.treeWrap .tree_fl {display:table-cell; width:220px; height:100%; padding:0 50px 0 0; vertical-align:top;}
.treeWrap .tree_fl .treeBox {display:table; overflow:hidden; width:100%; height:100%; border-radius:5px; box-shadow:2px 2px 10px rgba(0,0,0,0.1); background:#fff;}
.treeview, .treeview ul {padding:0;margin:0;list-style:none;}

.treeview {padding:0 15px; background:#fff;}
.treeview ul {background-color:#fff;}
.treeview .hitarea {background:url(../images/treeview-default.gif) -64px -25px no-repeat;height:16px;width:16px;margin-left:-16px;float:left;cursor:pointer;}
/* fix for IE6 */
* html .hitarea {display:inline;float:none;}

.treeview li {margin:0;padding:3px 0pt 3px 16px;}
.treeview a.selected {background-color:#eee;}

#sidetreecontrol {display:table; width:100%; background:#31415d;}
#sidetreecontrol span {display:table-cell; padding:7px 15px;}
#sidetreecontrol span a {display:block; height:26px; margin:0; padding:0 10px; color:#ccc; font-size:12px; text-align:center; line-height:24px; border-radius:3px; background:#122a46; cursor:pointer; transition:all 0.3s ease-out;}
#sidetreecontrol span a:hover, #sidetreecontrol span a:focus {color:#fff; transition:all 0.3s ease-out;}

#treecontrol {margin:0; display:none;}

.treeview .hover {color:rgba(0,126,255,1.0); cursor:pointer; transition:all 0.3s ease-out;}
.treeview li {background:url(../images/treeview-default-line.gif) 0 0 no-repeat;}
.treeview li.collapsable, .treeview li.expandable {background-position:0 -176px;}
.treeview .expandable-hitarea {background-position:-80px -3px;}

.treeview li.last {background-position:0 -1766px;}
.treeview li.lastCollapsable, .treeview li.lastExpandable {background-image:url(../images/treeview-default.gif);}
.treeview li.lastCollapsable {background-position:0 -111px;}
.treeview li.lastExpandable {background-position:-32px -67px;}

#tree a {color:#333; font-size:13px; background:#fff; transition:all 0.3s ease-out;}
#tree a:hover, #tree a:focus {color:rgba(0,126,255,1.0); transition:all 0.3s ease-out;}
#tree a.active {color:rgba(0,126,255,1.0);}
.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea {background-position:0;}

.treeWrap .tree_fr {display:table-cell; overflow:hidden; border-radius:5px; box-shadow:2px 2px 10px rgba(0,0,0,0.1); background:#fff;}

/* index */
.indexArea {display:block; clear:both; overflow:hidden; position:relative; min-height:30px; border-bottom:1px solid rgba(0,0,0,0.1); background:#fff;}
.indexArea .txt {display:block; padding:30px 0 20px 0; color:#333; font-size:17px; font-weight:500; text-align:center;}
.indexArea .btn_index {display:block; margin:0 0 30px 0; text-align:center;}
.indexArea .btn_index li {display:inline-block; margin:0 5px;}
.indexArea .btn_index li button {display:block; min-width:70px; height:32px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid #dadada; border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.indexArea .btn_index li button:hover, .indexArea .btn_index li button:focus {color:#fff; border:1px solid rgba(0,0,0,0.1); background:rgba(0,126,255,1.0); transition:all 0.3s ease-out;}

.indexArea .gaugeBox {display:block; overflow:hidden; position:relative; height:0; background:rgba(0,0,0,0.05);}
.indexArea .gaugeBox.indexing {height:3px;}
.indexArea .gaugeBox .gauge {float:left; width:0%; height:3px; background:rgba(0,126,255,1.0);}

/* footer */
#footer {display:block; height:29px; color:#999; font-size:11px; text-align:center; line-height:28px; border-top:1px solid #e5e5e5; background:#fff;}

.lyrWrap {display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index:3000;}
.lyrWrap .lyr_bg {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.8);}
.lyrWrap .lyrBox {overflow:hidden; position:absolute; top:100px; left:50%; width:600px; margin:0 0 0 -300px; border-radius:10px; background:#fff;}
.lyrWrap .lyr_top {display:block; height:30px; padding:7px 20px; background:#31415d;}
.lyrWrap .lyr_top h3 {float:left; margin:5px 0 0 0; color:#fff; font-size:15px;}
.lyrWrap .lyr_top .btn_lyr_close {overflow:hidden; float:right; width:30px; height:30px; text-indent:-99px; border:none; border-color:none; background:url(../images/btn_legacy_close_w.png) 50% 50% no-repeat; opacity:0.5; cursor:pointer; transition:all 0.3s ease-out;}
.lyrWrap .lyr_top .btn_lyr_close:hover, .lyrWrap .lyrBox .lyr_top .btn_lyr_close:focus {opacity:1.0; transition:all 0.3s ease-out;}

.lyrWrap .lyr_mid {display:block; overflow:auto; max-height:800px; padding:25px; background:#e6ecf1;} 
.lyrWrap .lyr_mid .tbl_view tbody th {vertical-align:middle; background:#74839d;}
.lyrWrap .lyr_mid .tbl_view tbody tr:first-child th {border-top:1px solid #5d7090;}
.lyrWrap .lyr_mid .tbl_view tbody tr:first-child td {border-top:1px solid #ccc;}
.lyrWrap .lyr_mid .tbl_view tbody tr:last-child th {border-bottom:1px solid #5d7090;}
.lyrWrap .lyr_mid .tbl_view tbody tr:last-child td {border-bottom:1px solid #ccc;}
.lyrWrap .lyr_mid .audioBox {display:none; width:100%; padding:10px 0 0 0;}
.lyrWrap .lyr_mid .audioBox audio {width:100%;}

.lyrWrap .lyr_mid .txtBox {display:block; padding:0; text-align:center;}
.lyrWrap .lyr_mid .txtBox .imgBox {margin:0 0 20px 0;}
.lyrWrap .lyr_mid .txtBox .txt {color:#333; font-size:18px; font-weight:400;}

.lyrWrap .lyr_mid .ipt_txt {display:inline-block; width:calc(100% - 12px); height:30px; padding:0 5px; line-height:30px; border:1px solid #ccd3df; border-radius:3px; background:#fff; transition:all 0.3s ease-out;}
.lyrWrap .lyr_mid .ipt_txt:focus {border:1px solid #007eff; box-shadow:inset 2px 2px 5px rgba(0,0,0,0); transition:all 0.3s ease-out;}

.lyrWrap .lyr_mid .ipt_treeview {display:inline-block; float:left; width:calc(100% - 44px); height:30px; padding:0 5px; line-height:30px; border:1px solid #ccd3df; border-radius:3px 0 0 3px; background:#fff; transition:all 0.3s ease-out;}
.lyrWrap .lyr_mid .ipt_treeview:focus {border:1px solid #007eff; box-shadow:inset 2px 2px 5px rgba(0,0,0,0); transition:all 0.3s ease-out;}
.lyrWrap .lyr_mid button.btn_treeview {display:inline-block; width:32px; height:32px; margin:0; padding:0; color:#fff; font-size:12px; line-height:28px; border:none; border-radius:0 3px 3px 0; vertical-align:middle; border:1px solid #8995aa; background:#8995aa; cursor:pointer; transition:all 0.3s ease-out;}
.lyrWrap .lyr_mid button.btn_treeview img {height:16px; vertical-align:middle; opacity:0.3; transition:all 0.3s ease-out;}
.lyrWrap .lyr_mid .btn_treeview:hover, .lyrWrap .lyr_mid .btn_treeview:focus {color:#333; border:1px solid #6e7a8f; background:#6e7a8f; transition:all 0.3s ease-out;}
.lyrWrap .lyr_mid .btn_treeview:hover img, .lyrWrap .lyr_mid .btn_treeview:focus img {opacity:0.5; transition:all 0.3s ease-out;}

.lyrWrap .lyr_btm {display:block;  height:30px; padding:15px 0; text-align:center;  background:#fff;}
.lyrWrap .lyr_btm .btn_lst {display:block;}
.lyrWrap .lyr_btm .btn_lst li {display:inline-block; margin:0 3px;}
.lyrWrap .lyr_btm .btn_lst li button {display:block; min-width:70px; height:32px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid #dadada; border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.lyrWrap .lyr_btm .btn_lst li button:hover, .lyrWrap .lyrBox .lyr_btm .btn_lst li button:focus {color:#333; border:1px solid rgba(0,0,0,0.5); transition:all 0.3s ease-out;}
.lyrWrap .lyr_btm .btn_lst li button img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.lyrWrap .lyr_btm .btn_lst li button.btn_clr {color:#fff; border:1px solid rgba(0,126,255,1.0); background:rgba(0,126,255,1.0); transition:all 0.3s ease-out;}

.lyrWrap .lyrBox02 {overflow:hidden; position:absolute; top:90px; left:50%; width:500px; margin:0 0 0 -250px; border-radius:10px;}
.lyrWrap .lyrBox03 {overflow:hidden; position:absolute; top:90px; left:50%; width:650px; margin:0 0 0 -250px; border-radius:10px;}


.lyrWrap .downloadBox {position:absolute; top:50%; left:50%; width:400px; height:140px; margin:-70px 0 0 -200px; text-align:center; border-radius:10px; background:#000;}
.lyrWrap .downloadBox a {display:inline-block; padding:20px; color:#fff; font-size:18px; line-height:40px; vertical-align:middle; transition:all 0.3s ease-out;}
.lyrWrap .downloadBox a:hover, .downloadBox a:focus {color:#007eff; text-decoration:underline; transition:all 0.3s ease-out;}
.lyrWrap .downloadBox a img {display:inline-block; width:40px; margin:0 15px 0 0;}
.lyrWrap .downloadBox dl.updateTxt {display:block; padding:10px 0 0 0; border-top:1px solid rgba(255,255,255,0.2);}
.lyrWrap .downloadBox dl.updateTxt dt {display:inline-block; margin:0 10px 0 0;}
.lyrWrap .downloadBox dl.updateTxt dd {display:inline-block; color:#ccc;}

.lyrWrap .selectbox {margin:1px 0 0 0; border:none; border:1px solid #fff; border-radius:3px; border:1px solid #ccd3df; background:#fff; transition:all 0.3s ease-out;}
.lyrWrap .selectbox.active {border:1px solid rgba(0,126,255,1.0); box-shadow:none; transition:all 0.3s ease-out;}
.lyrWrap .selectbox:before {right:5px;}
.lyrWrap .selectbox select {min-width:100px; min-height:32px; color:#333; border:1px solid #000;}
.lyrWrap .selectbox label {padding:0 5px; height:34px; color:#333; line-height:32px;}
.lyrWrap .selectbox select:hover {border:1px solid #000;}

#lyr_modify {display:none;}
#lyr_delete {display:none;}
#lyr_add {display:none;}
#lyr_delete .lyr_mid {padding:40px 0;}

.ipt_txt.disabled {background:#e9ecf2 !important;}

.btn_depth {display:inline-block; width:20px; height:20px; margin:0 5px 0 0; padding:0; color:#666; font-family:'Roboto',sans-serif; font-size:14px; font-weight:bold; line-height:18px; border:1px solid rgba(0,0,0,0.1); border-radius:3px; vertical-align:middle; border:1px solid rgba(0,0,0,0.1); background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.btn_depth:hover, .btn_depth:focus {color:#8995aa; border:1px solid #8995aa; transition:all 0.3s ease-out;}
.btn_depth.active {color:#fff; background:#8995aa;}

.btn_subDepth {display:inline-block; width:20px; height:20px; margin:0 5px 0 0; padding:0; color:#666; font-family:'Roboto',sans-serif; font-size:14px; font-weight:bold; line-height:18px; border:1px solid rgba(0,0,0,0.1); border-radius:3px; vertical-align:middle; border:1px solid rgba(0,0,0,0.1); background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.btn_subDepth:hover, .btn_subDepth:focus {color:#8995aa; border:1px solid #8995aa; transition:all 0.3s ease-out;}
.btn_subDepth.active {color:#fff; background:#8995aa;}

/* table(List) */
.tbl_depth01 {width:100%; background:#fff;}
.tbl_depth01 thead th {position:relative; min-height:32px; padding:12px 10px; color:#fff; font-size:13px; font-weight:300px; text-align:left; line-height:18px; border-top:1px solid #fff; border-bottom:1px solid #fff; background:#31415d; word-break:normal;}
.tbl_depth01 tbody td {position:relative; padding:5px 10px; color:#02112e; font-size:13px; font-weight:300px; text-align:left; line-height:17px; border-bottom:1px solid #eaeaea; word-break:normal;}
.tbl_depth01 tbody tr:last-child td {border:none;}

.tbl_depth01 .btn_lst {display:block;}
.tbl_depth01 .btn_lst li {display:inline-block; margin:0 3px;}
.tbl_depth01 .btn_lst li button {display:block; height:32px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_depth01 .btn_lst li button:hover, .tbl_depth01 .btn_lst li button:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.tbl_depth01 .btn_lst li button img {display:inline-block; margin:-1px 5px 0 0; vertical-align:middle; opacity:0.2;}

.tbl_depth02 {display:none; padding:0 !important; background:#f9f9f9;}
.tbl_depth02 tbody tr td:first-child {padding:5px 10px 5px 35px;}
.tbl_depth02 tbody tr td {border-bottom:1px solid #eaeaea !important;}
.tbl_depth02 tbody tr:last-child td {border:none !important;}

.tbl_depth03 {display:none; padding:0 !important; background:#fff;}
.tbl_depth03 tbody tr td:first-child {padding:5px 10px 5px 60px;}
.tbl_depth03 tbody tr td {border-bottom:1px solid rgba(0,0,0,0.1) !important;}
.tbl_depth03 tbody tr:last-child td {border:none !important;}

.tbl_sub {width:100%; background:#f9f9f9;}
.tbl_depth03 .tbl_sub {width:100%; background:#eee;}

.subTab_box {clear:both; overflow:hidden; position:relative;}
.subTab_box:before {content:''; position:absolute; left:0; top:35px; width:100%; height:1px; background:rgba(0,126,255,1.0);}
.subTab_box .subTab_tit {float:right; margin:3px 10px 0 0;}
.subTab_box .subTab_tit dt {display:inline-block; color:#666; font-size:13px;}
.subTab_box .subTab_tit dd {display:inline-block; color:#666; font-size:13px;}

.subTab_nav {float:left; position:relative; height:36px; margin:0 0 0 5px;}
.subTab_nav li {float:left; position:relative; margin:0 0 0 5px;}
.subTab_nav li a {display:block; height:34px; margin:0; padding:0 15px; color:#6b80a5; font-size:13px; line-height:34px; border:1px solid #d8dfed; border-bottom:1px solid rgba(0,126,255,1.0); border-radius:3px 3px 0 0; background:#d8dfed; cursor:pointer; transition:all 0.3s ease-out;}
.subTab_nav li a:hover, .subTab_nav li a:focus {color:rgba(0,126,255,1.0); transition:all 0.3s ease-out;}
.subTab_nav li a.active {color:rgba(0,126,255,1.0); border:1px solid rgba(0,126,255,1.0); border-bottom:1px solid #fff; background:#fff; transition:all 0.3s ease-out;}

.subTab_container {overflow:hidden; width:calc(100% - 40px); margin:0 0 30px 0; padding:20px 20px 0 20px; border-radius:0 0 5px 5px; box-shadow:2px 2px 10px rgba(0,0,0,0.1); background:#fff;}

.historyBox {display:none;}

.ui-th-column {position:relative; min-height:32px; padding:12px 10px; color:#fff; font-size:13px; font-weight:300px; text-align:left; line-height:18px; border-top:1px solid #fff; border-bottom:1px solid #fff; background:#31415d; word-break:normal;}

/* STT Test */
.test_m_lot {display:table; width:100%;}
.test_m_lot .test_iptBox {display:table-cell; width:500px; vertical-align:top;}
.test_m_lot .mobile_lot {position:relative; padding:30px; border-radius:20px; box-shadow:2px 2px 10px rgba(0,0,0,0.1); background:#fff;}
.test_m_lot .mobile_lot .dviceBox {width:100%; height:450px;}
.test_m_lot .mobile_lot .dviceBox .txtArea {width:calc(100% - 32px); height:calc(400px - 32px); padding:15px; border:1px solid #fff; border-radius:7px; box-shadow:inset 3px 3px 10px rgba(0,0,0,0.2); background:#e6e9ee; transition:all 0.3s ease-out;}
.test_m_lot .mobile_lot .dviceBox .txtArea:focus {border:1px solid rgba(0,126,255,1.0); box-shadow:none; transition:all 0.3s ease-out;}
.test_m_lot .mobile_lot .dviceBox .step02 {color:#02112e; font-size:24px; font-weight:300; line-height:34px;}
.test_m_lot .mobile_lot .dviceBox .step03 {color:#02112e; font-size:24px; font-weight:300; line-height:34px;}
.test_m_lot .mobile_lot .dviceBox .step04 {color:#02112e; font-size:24px; font-weight:300; line-height:34px;}

.test_m_lot .mobile_lot .btnBox {position:relative; width:100%; height:150px; text-align:center;}
.test_m_lot .mobile_lot .btnBox li {}
.test_m_lot .mobile_lot .btnBox button {position:absolute; top:50%; left:50%; width:80px; height:80px; margin:-40px 0 0 -40px; color:rgba(255,255,255,0.8); font-size:14px; font-weight:bold; line-height:40px; text-transform:uppercase; border:3px solid rgba(0,0,0,0.05); border-radius:100px; background:rgba(0,126,255,1.0); cursor:pointer; transition:all 0.3s ease-out;}
.test_m_lot .mobile_lot .btnBox button:hover, .test_m_lot .mobile_lot .btnBox button:focus {color:rgba(255,255,255,1.0); background:rgba(110,110,255,1.0); transition:all 0.3s ease-out;}

.test_m_lot .mobile_lot .btnBox button.btn_disabled {color:#fff; background:#ccc; cursor:default;}
.test_m_lot .mobile_lot .btnBox button.btn_disabled:hover, .test_m_lot .mobile_lot .btnBox button.btn_disabled:focus {color:#fff; background:#ccc;}

.test_m_lot .mobile_lot .btnBox li .curtain {position:absolute; top:0; left:0; width:100%; height:100%;}

.holeBox {display:none; position:absolute; top:50%; left:50%; width:80px; height:80px; margin:-40px 0 0 -40px;}
.hole i {display:block; position:absolute; width:80px; height:80px; border-radius:100px; opacity:0; animation-name:scale_hole; animation-duration:5s; animation-iteration-count:infinite; animation-timing-function:linear;}
.hole i:nth-child(1) {animation-delay:1s;}
.hole i:nth-child(2) {animation-delay:2s;}
.hole i:nth-child(3) {animation-delay:3s;}
.hole i:nth-child(4) {animation-delay:4s;}
.hole i:nth-child(5) {animation-delay:5s;}

@keyframes scale_hole {
0%   {transform:scale(0.5); opacity:0;   background:rgba(0,126,255,0.5);}
50%  {transform:scale(1.3); opacity:0.5; background:rgba(0,126,255,0.5);}
100% {transform:scale(1.6); opacity:0;   background:rgba(0,126,255,0.0);}
}

.sound-icon {width:250px; height:100px; margin:100px 0 0 95px; display:flex; justify-content:space-around; align-items:center;}
.sound-icon i {display:block; width:2px; margin-right:1px; height:90px; background:#007eff; animation:sound 0ms -800ms linear infinite alternate; transition:height 0.8s;}

@keyframes sound {
0%   {opacity:0.35; height:6px;}
100% {opacity:1;    height:46px;}
}

.sound-icon i:nth-child(1) {height:2px;animation-duration:474ms;}
.sound-icon i:nth-child(2) {height:10px;animation-duration:433ms;}
.sound-icon i:nth-child(3) {height:18px;animation-duration:407ms;}
.sound-icon i:nth-child(4) {height:26px;animation-duration:458ms;}
.sound-icon i:nth-child(5) {height:30px;animation-duration:400ms;}
.sound-icon i:nth-child(6) {height:32px;animation-duration:427ms;}
.sound-icon i:nth-child(7) {height:34px;animation-duration:441ms;}
.sound-icon i:nth-child(8) {height:36px;animation-duration:419ms;}
.sound-icon i:nth-child(9) {height:40px;animation-duration:487ms;}
.sound-icon i:nth-child(10) {height:46px;animation-duration:442ms;}
.sound-icon i:nth-child(11) {height:2px;animation-duration:474ms;}
.sound-icon i:nth-child(12) {height:10px;animation-duration:433ms;}
.sound-icon i:nth-child(13) {height:18px;animation-duration:407ms;}
.sound-icon i:nth-child(14) {height:26px;animation-duration:458ms;}
.sound-icon i:nth-child(15) {height:30px;animation-duration:400ms;}
.sound-icon i:nth-child(16) {height:32px;animation-duration:427ms;}
.sound-icon i:nth-child(17) {height:34px;animation-duration:441ms;}
.sound-icon i:nth-child(18) {height:36px;animation-duration:419ms;}
.sound-icon i:nth-child(19) {height:40px;animation-duration:487ms;}
.sound-icon i:nth-child(20) {height:46px;animation-duration:442ms;}

.recording {position:relative; width:100%; height:200px; margin:200px 0 0 0;}

.recording i {float:left; width:20px; height:20px; margin:0 34px; border-radius:50%; cursor:pointer; -webkit-transition:all 0.2s; -moz-transition:all 0.2s; transition:all 0.2s;}

.recording i:nth-child(1) {display:none; background:#33ffbb; -webkit-animation:r0 2s 0s ease-out infinite; -moz-animation:r0 2s 0s ease-out infinite; animation:r0 2s 0s ease-out infinite;}

@-webkit-keyframes r0 {
0%   {box-shadow:0 0 8px 6px rgba(0,126,255,1.0), 0 0 0px 0px #fff, 0 0 0px 0px rgba(0,126,255,1.0);}
10%  {box-shadow:0 0 8px 6px #1affb3, 0 0 12px 10px #fff, 0 0 12px 14px #1affb3;}
100% {box-shadow:0 0 8px 6px rgba(0,126,255,1.0), 0 0 0px 35px #fff, 0 0 0px 35px rgba(0,126,255,1.0);}
}
@-moz-keyframes r0 {
0%   {box-shadow:0 0 8px 6px rgba(0,126,255,1.0), 0 0 0px 0px #fff, 0 0 0px 0px rgba(0,126,255,1.0);}
10%  {box-shadow:0 0 8px 6px #1affb3, 0 0 12px 10px #fff, 0 0 12px 14px #1affb3;}
100% {box-shadow:0 0 8px 6px rgba(0,126,255,1.0), 0 0 0px 35px #fff, 0 0 0px 35px rgba(0,126,255,1.0);}
}
@keyframes r0 {
0%   {box-shadow:0 0 8px 6px rgba(0,126,255,1.0), 0 0 0px 0px #fff, 0 0 0px 0px rgba(0,126,255,1.0);}
10%  {box-shadow:0 0 8px 6px #1affb3, 0 0 12px 10px #fff, 0 0 12px 14px #1affb3;}
100% {box-shadow:0 0 8px 6px rgba(0,126,255,1.0), 0 0 0px 35px #fff, 0 0 0px 35px rgba(0,126,255,1.0);}
}
@-webkit-keyframes r20 {
from {box-shadow:0 0 8px 6px #ff1a1a, 0 0 12px 10px #fff, 0 0 12px 14px #ff1a1a;}
to   {box-shadow:0 0 8px 6px rgba(255, 26, 26, 0), 0 0 4px 40px #333, 0 0 4px 41px rgba(255, 26, 26, 0);}
}
@-moz-keyframes r20 {
from {box-shadow:0 0 8px 6px #ff1a1a, 0 0 12px 10px #fff, 0 0 12px 14px #ff1a1a;}
to   {box-shadow:0 0 8px 6px rgba(255, 26, 26, 0), 0 0 4px 40px #333, 0 0 4px 41px rgba(255, 26, 26, 0);}
}
@keyframes r20 {
from {box-shadow:0 0 8px 6px #ff1a1a, 0 0 12px 10px #fff, 0 0 12px 14px #ff1a1a;}
to   {box-shadow:0 0 8px 6px rgba(255, 26, 26, 0), 0 0 4px 40px #333, 0 0 4px 41px rgba(255, 26, 26, 0);}
}
.recording i:nth-child(2) {background:#33ffdd; -webkit-animation:r1 2s 0.25s ease-out infinite; -moz-animation:r1 2s 0.25s ease-out infinite; animation:r1 2s 0.25s ease-out infinite;}

@-webkit-keyframes r1 {
0%   {box-shadow:0 0 8px 6px rgba(26, 255, 217, 0), 0 0 0px 0px #fff, 0 0 0px 0px rgba(26, 255, 217, 0);}
10%  {box-shadow:0 0 8px 6px #1affd9, 0 0 12px 10px #fff, 0 0 12px 14px #1affd9;}
100% {box-shadow:0 0 8px 6px rgba(26, 255, 217, 0), 0 0 0px 35px #fff, 0 0 0px 35px rgba(26, 255, 217, 0);}
}
@-moz-keyframes r1 {
0%   {box-shadow:0 0 8px 6px rgba(26, 255, 217, 0), 0 0 0px 0px #fff, 0 0 0px 0px rgba(26, 255, 217, 0);}
10%  {box-shadow:0 0 8px 6px #1affd9, 0 0 12px 10px #fff, 0 0 12px 14px #1affd9;}
100% {box-shadow:0 0 8px 6px rgba(26, 255, 217, 0), 0 0 0px 35px #fff, 0 0 0px 35px rgba(26, 255, 217, 0);}
}
@keyframes r1 {
0%   {box-shadow:0 0 8px 6px rgba(26, 255, 217, 0), 0 0 0px 0px #fff, 0 0 0px 0px rgba(26, 255, 217, 0);}
10%  {box-shadow:0 0 8px 6px #1affd9, 0 0 12px 10px #fff, 0 0 12px 14px #1affd9;}
100% {box-shadow:0 0 8px 6px rgba(26, 255, 217, 0), 0 0 0px 35px #fff, 0 0 0px 35px rgba(26, 255, 217, 0);}
}
@-webkit-keyframes r21 {
from {box-shadow:0 0 8px 6px #ff301a, 0 0 12px 10px #fff, 0 0 12px 14px #ff301a;}
to   {box-shadow:0 0 8px 6px rgba(255, 48, 26, 0), 0 0 4px 40px #333, 0 0 4px 41px rgba(255, 48, 26, 0);}
}
@-moz-keyframes r21 {
from {box-shadow:0 0 8px 6px #ff301a, 0 0 12px 10px #fff, 0 0 12px 14px #ff301a;}
to   {box-shadow:0 0 8px 6px rgba(255, 48, 26, 0), 0 0 4px 40px #333, 0 0 4px 41px rgba(255, 48, 26, 0);}
}
@keyframes r21 {
from {box-shadow:0 0 8px 6px #ff301a, 0 0 12px 10px #fff, 0 0 12px 14px #ff301a;}
to   {box-shadow:0 0 8px 6px rgba(255, 48, 26, 0), 0 0 4px 40px #333, 0 0 4px 41px rgba(255, 48, 26, 0);}
}
.recording i:nth-child(3) {background:#33ffff; -webkit-animation:r2 2s 0.5s ease-out infinite; -moz-animation:r2 2s 0.5s ease-out infinite; animation:r2 2s 0.5s ease-out infinite;}

@-webkit-keyframes r2 {
0%   {box-shadow:0 0 8px 6px rgba(26, 255, 255, 0), 0 0 0px 0px #fff, 0 0 0px 0px rgba(26, 255, 255, 0);}
10%  {box-shadow:0 0 8px 6px #1affff, 0 0 12px 10px #fff, 0 0 12px 14px #1affff;}
100% {box-shadow:0 0 8px 6px rgba(26, 255, 255, 0), 0 0 0px 35px #fff, 0 0 0px 35px rgba(26, 255, 255, 0);}
}
@-moz-keyframes r2 {
0%   {box-shadow:0 0 8px 6px rgba(26, 255, 255, 0), 0 0 0px 0px #fff, 0 0 0px 0px rgba(26, 255, 255, 0);}
10%  {box-shadow:0 0 8px 6px #1affff, 0 0 12px 10px #fff, 0 0 12px 14px #1affff;}
100% {box-shadow:0 0 8px 6px rgba(26, 255, 255, 0), 0 0 0px 35px #fff, 0 0 0px 35px rgba(26, 255, 255, 0);}
}
@keyframes r2 {
0%   {box-shadow:0 0 8px 6px rgba(26, 255, 255, 0), 0 0 0px 0px #fff, 0 0 0px 0px rgba(26, 255, 255, 0);}
10%  {box-shadow:0 0 8px 6px #1affff, 0 0 12px 10px #fff, 0 0 12px 14px #1affff;}
100% {box-shadow:0 0 8px 6px rgba(26, 255, 255, 0), 0 0 0px 35px #fff, 0 0 0px 35px rgba(26, 255, 255, 0);}
}
@-webkit-keyframes r22 {
from {box-shadow:0 0 8px 6px #ff471a, 0 0 12px 10px #fff, 0 0 12px 14px #ff471a;}
to   {box-shadow:0 0 8px 6px rgba(255, 71, 26, 0), 0 0 4px 40px #333, 0 0 4px 41px rgba(255, 71, 26, 0);}
}
@-moz-keyframes r22 {
from {box-shadow:0 0 8px 6px #ff471a, 0 0 12px 10px #fff, 0 0 12px 14px #ff471a;}
to   {box-shadow:0 0 8px 6px rgba(255, 71, 26, 0), 0 0 4px 40px #333, 0 0 4px 41px rgba(255, 71, 26, 0);}
}
@keyframes r22 {
from {box-shadow:0 0 8px 6px #ff471a, 0 0 12px 10px #fff, 0 0 12px 14px #ff471a;}
to   {box-shadow:0 0 8px 6px rgba(255, 71, 26, 0), 0 0 4px 40px #333, 0 0 4px 41px rgba(255, 71, 26, 0);}
}
.recording i:nth-child(4) {background:#33ddff; -webkit-animation:r3 2s 0.75s ease-out infinite; -moz-animation:r3 2s 0.75s ease-out infinite; animation:r3 2s 0.75s ease-out infinite;}

@-webkit-keyframes r3 {
0%   {box-shadow:0 0 8px 6px rgba(26, 217, 255, 0), 0 0 0px 0px #fff, 0 0 0px 0px rgba(26, 217, 255, 0);}
10%  {box-shadow:0 0 8px 6px #1ad9ff, 0 0 12px 10px #fff, 0 0 12px 14px #1ad9ff;}
100% {box-shadow:0 0 8px 6px rgba(26, 217, 255, 0), 0 0 0px 35px #fff, 0 0 0px 35px rgba(26, 217, 255, 0);}
}
@-moz-keyframes r3 {
0%   {box-shadow:0 0 8px 6px rgba(26, 217, 255, 0), 0 0 0px 0px #fff, 0 0 0px 0px rgba(26, 217, 255, 0);}
10%  {box-shadow:0 0 8px 6px #1ad9ff, 0 0 12px 10px #fff, 0 0 12px 14px #1ad9ff;}
100% {box-shadow:0 0 8px 6px rgba(26, 217, 255, 0), 0 0 0px 35px #fff, 0 0 0px 35px rgba(26, 217, 255, 0);}
}
@keyframes r3 {
0%   {box-shadow:0 0 8px 6px rgba(26, 217, 255, 0), 0 0 0px 0px #fff, 0 0 0px 0px rgba(26, 217, 255, 0);}
10%  {box-shadow:0 0 8px 6px #1ad9ff, 0 0 12px 10px #fff, 0 0 12px 14px #1ad9ff;}
100% {box-shadow:0 0 8px 6px rgba(26, 217, 255, 0), 0 0 0px 35px #fff, 0 0 0px 35px rgba(26, 217, 255, 0);}
}
@-webkit-keyframes r23 {
from {box-shadow:0 0 8px 6px #ff5e1a, 0 0 12px 10px #fff, 0 0 12px 14px #ff5e1a;}
to   {box-shadow:0 0 8px 6px rgba(255, 94, 26, 0), 0 0 4px 40px #333, 0 0 4px 41px rgba(255, 94, 26, 0);}
}
@-moz-keyframes r23 {
from {box-shadow:0 0 8px 6px #ff5e1a, 0 0 12px 10px #fff, 0 0 12px 14px #ff5e1a;}
to   {box-shadow:0 0 8px 6px rgba(255, 94, 26, 0), 0 0 4px 40px #333, 0 0 4px 41px rgba(255, 94, 26, 0);}
}
@keyframes r23 {
from {box-shadow:0 0 8px 6px #ff5e1a, 0 0 12px 10px #fff, 0 0 12px 14px #ff5e1a;}
to   {box-shadow:0 0 8px 6px rgba(255, 94, 26, 0), 0 0 4px 40px #333, 0 0 4px 41px rgba(255, 94, 26, 0);}
}
.recording i:nth-child(5) {background:#33bbff; -webkit-animation:r4 2s 1s ease-out infinite; -moz-animation:r4 2s 1s ease-out infinite; animation:r4 2s 1s ease-out infinite;}

@-webkit-keyframes r4 {
0%   {box-shadow:0 0 8px 6px rgba(26, 179, 255, 0), 0 0 0px 0px #fff, 0 0 0px 0px rgba(26, 179, 255, 0);}
10%  {box-shadow:0 0 8px 6px #1ab3ff, 0 0 12px 10px #fff, 0 0 12px 14px #1ab3ff;}
100% {box-shadow:0 0 8px 6px rgba(26, 179, 255, 0), 0 0 0px 35px #fff, 0 0 0px 35px rgba(26, 179, 255, 0);}
}
@-moz-keyframes r4 {
0%   {box-shadow:0 0 8px 6px rgba(26, 179, 255, 0), 0 0 0px 0px #fff, 0 0 0px 0px rgba(26, 179, 255, 0);}
10%  {box-shadow:0 0 8px 6px #1ab3ff, 0 0 12px 10px #fff, 0 0 12px 14px #1ab3ff;}
100% {box-shadow:0 0 8px 6px rgba(26, 179, 255, 0), 0 0 0px 35px #fff, 0 0 0px 35px rgba(26, 179, 255, 0);}
}
@keyframes r4 {
0%   {box-shadow:0 0 8px 6px rgba(26, 179, 255, 0), 0 0 0px 0px #fff, 0 0 0px 0px rgba(26, 179, 255, 0);}
10%  {box-shadow:0 0 8px 6px #1ab3ff, 0 0 12px 10px #fff, 0 0 12px 14px #1ab3ff;}
100% {box-shadow:0 0 8px 6px rgba(26, 179, 255, 0), 0 0 0px 35px #fff, 0 0 0px 35px rgba(26, 179, 255, 0);}
}
@-webkit-keyframes r24 {
from {box-shadow:0 0 8px 6px #ff751a, 0 0 12px 10px #fff, 0 0 12px 14px #ff751a;}
to   {box-shadow:0 0 8px 6px rgba(255, 117, 26, 0), 0 0 4px 40px #333, 0 0 4px 41px rgba(255, 117, 26, 0);}
}
@-moz-keyframes r24 {
from {box-shadow:0 0 8px 6px #ff751a, 0 0 12px 10px #fff, 0 0 12px 14px #ff751a;}
to   {box-shadow:0 0 8px 6px rgba(255, 117, 26, 0), 0 0 4px 40px #333, 0 0 4px 41px rgba(255, 117, 26, 0);}
}
@keyframes r24 {
from {box-shadow:0 0 8px 6px #ff751a, 0 0 12px 10px #fff, 0 0 12px 14px #ff751a;}
to   {box-shadow:0 0 8px 6px rgba(255, 117, 26, 0), 0 0 4px 40px #333, 0 0 4px 41px rgba(255, 117, 26, 0);}
}
.recording i:nth-child(6) {background:#3399ff; -webkit-animation:r5 2s 1.25s ease-out infinite; -moz-animation:r5 2s 1.25s ease-out infinite; animation:r5 2s 1.25s ease-out infinite;}

@-webkit-keyframes r5 {
0%   {box-shadow:0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 0px #fff, 0 0 0px 0px rgba(26, 140, 255, 0);}
10%  {box-shadow:0 0 8px 6px #1a8cff, 0 0 12px 10px #fff, 0 0 12px 14px #1a8cff;}
100% {box-shadow:0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 35px #fff, 0 0 0px 35px rgba(26, 140, 255, 0);}
}
@-moz-keyframes r5 {
0%   {box-shadow:0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 0px #fff, 0 0 0px 0px rgba(26, 140, 255, 0);}
10%  {box-shadow:0 0 8px 6px #1a8cff, 0 0 12px 10px #fff, 0 0 12px 14px #1a8cff;}
100% {box-shadow:0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 35px #fff, 0 0 0px 35px rgba(26, 140, 255, 0);}
}
@keyframes r5 {
0%   {box-shadow:0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 0px #fff, 0 0 0px 0px rgba(26, 140, 255, 0);}
10%  {box-shadow:0 0 8px 6px #1a8cff, 0 0 12px 10px #fff, 0 0 12px 14px #1a8cff;}
100% {box-shadow:0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 35px #fff, 0 0 0px 35px rgba(26, 140, 255, 0);}
}
@-webkit-keyframes r25 {
from {box-shadow:0 0 8px 6px #ff8c1a, 0 0 12px 10px #fff, 0 0 12px 14px #ff8c1a;}
to   {box-shadow:0 0 8px 6px rgba(255, 140, 26, 0), 0 0 4px 40px #333, 0 0 4px 41px rgba(255, 140, 26, 0);}
}
@-moz-keyframes r25 {
from {box-shadow:0 0 8px 6px #ff8c1a, 0 0 12px 10px #fff, 0 0 12px 14px #ff8c1a;}
to   {box-shadow:0 0 8px 6px rgba(255, 140, 26, 0), 0 0 4px 40px #333, 0 0 4px 41px rgba(255, 140, 26, 0);}
}
@keyframes r25 {
from {box-shadow:0 0 8px 6px #ff8c1a, 0 0 12px 10px #fff, 0 0 12px 14px #ff8c1a;}
to   {box-shadow:0 0 8px 6px rgba(255, 140, 26, 0), 0 0 4px 40px #333, 0 0 4px 41px rgba(255, 140, 26, 0);}
}

.test_m_lot .mobile_lot .btnBox li {height:100%; background:url(../images/bg_record.png) 50% -35px no-repeat; background-size:50%;}


.test_m_lot .test_resultBox {display:table-cell; padding:0 0 0 50px; vertical-align:top;}
.test_m_lot .test_resultBox .dl_resultBox {position:relative; overflow:hidden; padding:30px; border-radius:20px; box-shadow:2px 2px 10px rgba(0,0,0,0.1); background:#fff;}
.test_m_lot .test_resultBox .dl_resultBox dl {display:block; margin:0 0 25px 0;}
.test_m_lot .test_resultBox .dl_resultBox dl:last-child {margin:0;}
.test_m_lot .test_resultBox .dl_resultBox dl dt {display:block; padding:0 0 5px 0; color:#999; font-size:13px; font-weight:300px; text-align:left; line-height:18px; border-bottom:1px solid rgba(0,0,0,0.1); word-break:normal;}
.test_m_lot .test_resultBox .dl_resultBox dl dd {display:block; overflow:auto; max-height:95px; padding:5px 0; color:#02112e; font-size:15px; font-weight:300px; text-align:left; line-height:24px; vertical-align:top; word-break:normal;}

.step02 {display:none;}
.step03 {display:none;}
.step04 {display:none;}

@media screen and (-webkit-min-device-pixel-ratio:0){
#container {height:calc(100% - 30px);}
.srchArea .txtareaBox .txtArea {min-height:70px;}
}



#ui-datepicker-div , .ui-datepicker { z-index: 99999 !important; }
