
<%@ page pageEncoding="UTF-8"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<c:set var="path"  value="${pageContext.request.contextPath}" />

<script src="${path}/webjars/jquery/3.2.1/dist/jquery.min.js"></script>
<script src="${path}/webjars/jquery-ui/1.12.1/jquery-ui.js"></script>
<script src="${path}/webjars/bootstrap/3.3.4/dist/js/bootstrap.min.js"></script>

<script>
    jQuery.browser = {};
    (function () {
        jQuery.browser.msie = false;
        jQuery.browser.version = 0;
        if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
            jQuery.browser.msie = true;
            jQuery.browser.version = RegExp.$1;
        }
    })();

    function serverUrl(uri){
        return '${path}/'+uri;
    }

</script>